---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import imageSpider from "@/assets/about/spider.jpg";
import imageAsa from "@/assets/about/asa.jpg";

import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header.astro";
import Link from "@/components/link.astro";
import LastFmRecentTrack from "@/components/lastfm-recent-track.astro";
import LastFmTopStats from "@/components/lastfm-top-stats.astro";
import AniListRecentActivity from "@/components/anilist-recent-activity.astro";
import Footer from "@/components/footer.astro";

type AboutPicture = {
  id: string;
  imageMetadata: ImageMetadata;
  alt: string;
};

const ABOUT_PICTURES: AboutPicture[] = [
  {
    id: "spider",
    imageMetadata: imageSpider,
    alt: "Me at 5 years old wearing a paper hat holding a paper spider.",
  },
  {
    id: "asa",
    imageMetadata: imageAsa,
    alt: "Me dressed up as Asa from Chainsaw Man for Halloween.",
  },
];

const description = "More about who I am";
---

<BaseLayout
  meta={{
    kind: "route",
    title: "About",
    description: description + ".",
    ogImageParams: description,
  }}
>
  <Header links={[]} />

  <main
    class="mx-auto w-full space-y-pad-4 px-pad-2 pt-pad pb-pad-4 desktop:w-4/5 desktop:px-pad desktop:pt-0 lg:w-(--real-header-w)"
  >
    <h1 id="about" class="text-5xl font-bold text-heading">About</h1>

    <article
      aria-labelledby="about"
      class="grid grid-cols-1 gap-pad-4 md:grid-cols-2"
    >
      <button
        id="pictures"
        aria-label="Strange button"
        class="relative order-2 h-fit w-full overflow-hidden rounded-xl transition-transform data-initial:cursor-help data-initial:active:scale-97 md:order-1"
        data-initial=""
        data-umami-event="about-picture"
      >
        <div
          aria-hidden="true"
          class="pointer-events-none absolute inset-0 z-1 origin-bottom bg-sweater-8/50 transition-opacity duration-500 select-none light:bg-sweater-3/50"
          style={{ transform: "scaleY(0.0)" }}
        >
        </div>

        {
          ABOUT_PICTURES.map(({ id, imageMetadata, alt }, index) => (
            <Image
              id={id}
              src={imageMetadata}
              alt={alt}
              loading={index === 0 ? "eager" : "lazy"}
              class:list={[
                "rounded-xl",
                {
                  "absolute inset-0 -z-1 scale-40 opacity-0 blur-2xl":
                    index !== 0,
                },
              ]}
            />
          ))
        }
      </button>

      <div class="order-1 max-w-(--content-w) space-y-pad-2 md:order-2">
        <p>
          Hi! I'm a fourth year student in the <Link
            href="https://cg.cis.upenn.edu"
            target="_blank">Digital Media Design</Link
          > program at UPenn. I'm part of (and used to co-lead) <Link
            href="https://pennupgrade.com"
            target="_blank">UPGRADE</Link
          >, our game dev club, and am part of the CG@Penn student board.
        </p>
        <p>
          Previously I interned at TikTok and Snap to work on their rendering
          engines. <Link href="/resume" target="_blank">Here's my resume.</Link>
        </p>
        <p>
          I'm generally interested in computer graphics, specifically real-time
          rendering, and game engine development. I grew up drawing and
          designing things, and continue to love doing so.
        </p>
        <p>
          I strongly believe in shared spaces, self-expression, and visual
          identities. This is why I resonate so strongly with the web. <span
            class="italic">Everyone can and should make a website!</span
          > It's your digital source of truth.
        </p>
      </div>
    </article>

    <section class="max-w-(--content-w)">
      <h2 id="contact" class="mb-pad text-xl font-bold text-heading">
        Contact
      </h2>
      <p>
        I welcome random messages from strangers. Please reach out to say hello!
        You can find me on <Link
          href="https://twitter.com/zwcharl"
          target="_blank">Twitter</Link
        >, <Link href="https://github.com/aczw" target="_blank">GitHub</Link>, <Link
          href="https://linkedin.com/in/zwcharl"
          target="_blank">LinkedIn</Link
        >, and <Link href="https://are.na/charles-zw" target="_blank"
          >Are.na</Link
        >. My email is <span class="inline-code"
          >zwcharl &lt;at&gt; gmail &lt;dot&gt; com</span
        >.
      </p>
    </section>

    <section class="grid grid-cols-1 gap-x-pad-4 sm:grid-cols-2">
      <h2
        id="music"
        class="col-span-full mb-pad text-xl font-bold text-heading"
      >
        Music
      </h2>

      <LastFmRecentTrack server:defer>
        <div
          aria-hidden="true"
          class="mb-pad-2 animate-pulse space-y-pad sm:mb-0"
          slot="fallback"
        >
          <div class="h-lh rounded-md bg-sweater-9 light:bg-sweater-2"></div>
          <div
            class="flex gap-x-3.5 *:rounded-md *:bg-sweater-9 light:*:bg-sweater-2"
          >
            <div class="size-[3lh] shrink-0"></div>
            <div class="h-[3lh] grow"></div>
          </div>
        </div>
      </LastFmRecentTrack>

      <LastFmTopStats server:defer>
        <div
          aria-hidden="true"
          class="animate-pulse space-y-pad"
          slot="fallback"
        >
          <div class="h-lh rounded-md bg-sweater-9 light:bg-sweater-2"></div>
          <div
            class="flex h-[3lh] gap-x-3.5 rounded-md bg-sweater-9 light:bg-sweater-2"
          >
          </div>
        </div>
      </LastFmTopStats>
    </section>

    <section>
      <h2 id="anilist" class="mb-pad text-xl font-bold text-heading">
        Anilist
      </h2>
      <AniListRecentActivity server:defer>
        <div
          class="grid animate-pulse grid-cols-1 gap-x-pad-4 gap-y-pad-2 *:h-[4lh] *:rounded-md *:bg-sweater-9 md:grid-cols-2 light:*:bg-sweater-2"
          slot="fallback"
        >
          <div></div>
          <div></div>
        </div>
      </AniListRecentActivity>
    </section>
  </main>

  <Footer />
</BaseLayout>

<script>
  const picturesBtn = document.getElementById("pictures") as HTMLButtonElement;
  const slider = picturesBtn.firstElementChild as HTMLDivElement;

  const KEYFRAME_OPTS: KeyframeAnimationOptions = {
    duration: 600,
    // https://easings.net/#easeInOutExpo
    easing: "cubic-bezier(0.87, 0, 0.13, 1)",
    fill: "forwards",
  };

  function handleAnimationFinish(ev: AnimationPlaybackEvent) {
    const animation = ev.currentTarget as Animation;
    animation.commitStyles();
    animation.cancel();
  }

  let sliderStage = 0;

  function handleSliderProgress() {
    slider
      .animate([{ transform: `scaleY(${++sliderStage * 0.2})` }], {
        duration: 200,
        easing: "ease-in-out",
        fill: "forwards",
      })
      .addEventListener("finish", (ev) => {
        const animation = ev.currentTarget as Animation;
        animation.commitStyles();
        animation.cancel();

        if (sliderStage === 5) {
          picturesBtn.removeEventListener("click", handleSliderProgress);
          delete picturesBtn.dataset["initial"];
          slider.style.opacity = "0";

          const spiderElt = picturesBtn.children[1] as HTMLImageElement;
          const asaElt = picturesBtn.children[2] as HTMLImageElement;

          spiderElt.style.zIndex = "auto";
          spiderElt
            .animate(
              [{ scale: 0.4, opacity: 0.0, filter: "blur(var(--blur-2xl))" }],
              KEYFRAME_OPTS,
            )
            .addEventListener("finish", handleAnimationFinish);

          asaElt.style.zIndex = "auto";
          asaElt
            .animate(
              [{ scale: 1.0, opacity: 1.0, filter: "none" }],
              KEYFRAME_OPTS,
            )
            .addEventListener("finish", handleAnimationFinish);
        }
      });
  }

  picturesBtn.addEventListener("click", handleSliderProgress);
</script>
