---
import { Image } from "astro:assets";

import { InfoIcon } from "@lucide/astro";

import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header.astro";
import { ICON_SIZE, ABOUT_PICTURES } from "@/scripts/constants";
import MusicIndicator from "@/components/music-indicator.astro";
import { SimpleDateSchema } from "@/scripts/schema";
import ContentDate from "@/components/content-date.astro";

for (const picture of ABOUT_PICTURES) {
  const result = SimpleDateSchema.safeParse(picture.date);
  if (!result.success) {
    throw new Error(result.error.flatten().formErrors.join(" / "));
  }
}

const description = "More about who I am";
---

<BaseLayout
  meta={{
    kind: "route",
    title: "About",
    description: description + ".",
    ogImageParams: description,
  }}
>
  <Header links={[]} />

  <main>
    <article class="space-y-pad-4">
      <hgroup
        class="mx-auto w-full px-pad-2 pt-pad-2 desktop:w-4/5 desktop:px-pad lg:w-(--real-header-w) lg:pt-pad-3"
      >
        <h1 class="flex items-center gap-x-pad text-5xl font-bold text-heading">
          About <MusicIndicator size={2 * ICON_SIZE} server:defer>
            <InfoIcon
              aria-hidden="true"
              slot="fallback"
              size={2 * ICON_SIZE}
              class="stroke-icon"
            />
          </MusicIndicator>
        </h1>
        <p class="max-w-(--content-w) text-2xl italic">
          Bridge carver, pixel pusher
        </p>
      </hgroup>

      <div
        class="mx-auto grid w-full grid-cols-1 gap-x-pad-2 px-pad-2 desktop:w-4/5 desktop:px-pad md:grid-cols-2 lg:w-(--real-header-w) xl:gap-x-pad-4"
      >
        <div class="space-y-pad-2">
          <p>
            Hi! I'm a fourth year student in the Digital Media Design major at
            UPenn. I'm interested in computer graphics, game engine development,
            and real-time rendering.
          </p>
          <p>
            I help run UPGRADE, our game dev club, and am part of the CG@Penn
            student board. Previously I was at Snap.
          </p>
          <p>
            I love making and designing things. For fun I like to run, create
            playlists, read manga, and ride SEPTA. I strongly believe in shared
            spaces and self-expression on the web.
          </p>
          <p>
            You can find ways to reach me and my resumé below. Thanks for
            visiting!! <span class="whitespace-nowrap">(〜￣▽￣)〜</span>
          </p>
        </div>

        <figure class="space-y-pad">
          <button class="relative h-[520px] w-full *:absolute *:inset-0">
            {
              ABOUT_PICTURES.map(({ id, imageMetadata, alt, date }, index) => (
                <Image
                  id={id}
                  src={imageMetadata}
                  alt={alt}
                  loading={index === 0 ? "eager" : "lazy"}
                  class:list={[
                    "cursor-pointer rounded-xl select-none",
                    { "scale-40 opacity-0 blur-2xl": index !== 0 },
                  ]}
                  data-umami-event="clicked-about-picture"
                  data-umami-event-id={id}
                />
              ))
            }
          </button>
          <figcaption class="text-left text-sm text-heading">
            <ContentDate date={ABOUT_PICTURES[0]!.date} />
          </figcaption>
        </figure>
      </div>
    </article>
  </main>
</BaseLayout>

<script>
  import { ABOUT_PICTURES } from "@/scripts/constants";

  const figures = ABOUT_PICTURES.map(
    (picture) => document.getElementById(picture.id)!,
  );

  const firstFigure = figures[0]!;
  let activeFigure = firstFigure;

  const keyframeOptions: KeyframeAnimationOptions = {
    duration: 250,
    easing: "cubic-bezier(0.87, 0, 0.13, 1)",
    fill: "forwards",
  };

  function transitionActiveImage(target: HTMLElement) {
    activeFigure
      .animate(
        [{ scale: 0.4, opacity: 0.0, filter: "blur(var(--blur-2xl))" }],
        keyframeOptions,
      )
      .addEventListener("finish", (ev) => {
        const animation = ev.currentTarget as Animation;
        animation.commitStyles();
        animation.cancel();
      });

    target
      .animate([{ scale: 1.0, opacity: 1.0, filter: "none" }], keyframeOptions)
      .addEventListener("finish", (ev) => {
        const animation = ev.currentTarget as Animation;
        animation.commitStyles();
        animation.cancel();
        activeFigure = target;
      });
  }

  for (const figure of figures) {
    const target =
      figure.nextElementSibling ?
        (figure.nextElementSibling as HTMLElement)
      : firstFigure;

    figure.addEventListener("click", () => {
      transitionActiveImage(target);
    });
  }
</script>
