---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import { InfoIcon } from "@lucide/astro";

import imageSpider from "@/assets/about/spider.jpg";
import imageAsa from "@/assets/about/asa.jpg";

import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header.astro";
import { ICON_SIZE } from "@/scripts/constants";
import MusicIndicator from "@/components/music-indicator.astro";

type AboutPicture = {
  id: string;
  imageMetadata: ImageMetadata;
  alt: string;
};

const ABOUT_PICTURES: AboutPicture[] = [
  {
    id: "spider",
    imageMetadata: imageSpider,
    alt: "Me at 5 years old wearing a paper hat holding a paper spider.",
  },
  {
    id: "asa",
    imageMetadata: imageAsa,
    alt: "Me dressed up as Asa from Chainsaw Man for Halloween.",
  },
];

const description = "More about who I am";
---

<BaseLayout
  meta={{
    kind: "route",
    title: "About",
    description: description + ".",
    ogImageParams: description,
  }}
>
  <Header links={[]} />

  <main>
    <article class="space-y-pad-4">
      <hgroup
        class="mx-auto w-full px-pad-2 pt-pad-2 desktop:w-4/5 desktop:px-pad lg:w-(--real-header-w) lg:pt-pad-3"
      >
        <h1 class="flex items-center gap-x-pad text-5xl font-bold text-heading">
          About <MusicIndicator size={2 * ICON_SIZE} server:defer>
            <InfoIcon
              aria-hidden="true"
              slot="fallback"
              size={2 * ICON_SIZE}
              class="stroke-icon"
            />
          </MusicIndicator>
        </h1>
        <p class="max-w-(--content-w) text-2xl italic">
          Bridge carver, pixel pusher
        </p>
      </hgroup>

      <div
        class="mx-auto grid w-full grid-cols-1 gap-x-pad-2 px-pad-2 desktop:w-4/5 desktop:px-pad md:grid-cols-2 lg:w-(--real-header-w) xl:gap-x-pad-4"
      >
        <div class="space-y-pad-2">
          <p>
            Hi! I'm a fourth year student in the Digital Media Design major at
            UPenn. I'm interested in computer graphics, game engine development,
            and real-time rendering.
          </p>
          <p>
            I help run UPGRADE, our game dev club, and am part of the CG@Penn
            student board. Previously I was at Snap.
          </p>
          <p>
            I love making and designing things. For fun I like to run, create
            playlists, read manga, and ride SEPTA. I strongly believe in shared
            spaces and self-expression on the web.
          </p>
          <p>
            You can find ways to reach me and my resumé below. Thanks for
            visiting!! <span class="whitespace-nowrap">(〜￣▽￣)〜</span>
          </p>
        </div>

        <button
          id="pictures"
          class="relative h-fit w-full overflow-hidden rounded-xl transition-transform data-initial:active:scale-97"
          data-initial=""
        >
          <div
            aria-hidden="true"
            class="absolute inset-0 z-1 origin-bottom bg-sweater-8/50 transition-opacity duration-500 not-dark:bg-sweater-3/50"
            style={{ transform: "scaleY(0.0)" }}
          >
          </div>

          {
            ABOUT_PICTURES.map(({ id, imageMetadata, alt }, index) => (
              <Image
                id={id}
                src={imageMetadata}
                alt={alt}
                loading={index === 0 ? "eager" : "lazy"}
                class:list={[
                  "rounded-xl",
                  {
                    "absolute inset-0 -z-1 scale-40 opacity-0 blur-2xl":
                      index !== 0,
                  },
                ]}
                data-umami-event="clicked-about-picture"
                data-umami-event-id={id}
              />
            ))
          }
        </button>
      </div>
    </article>
  </main>
</BaseLayout>

<script>
  const picturesBtn = document.getElementById("pictures") as HTMLButtonElement;
  const slider = picturesBtn.firstElementChild as HTMLDivElement;

  const KEYFRAME_OPTS: KeyframeAnimationOptions = {
    duration: 600,
    // https://easings.net/#easeInOutExpo
    easing: "cubic-bezier(0.87, 0, 0.13, 1)",
    fill: "forwards",
  };

  function handleAnimationFinish(ev: AnimationPlaybackEvent) {
    const animation = ev.currentTarget as Animation;
    animation.commitStyles();
    animation.cancel();
  }

  let sliderStage = 0;

  function handleSliderProgress() {
    slider
      .animate([{ transform: `scaleY(${++sliderStage * 0.2})` }], {
        duration: 200,
        easing: "ease-in-out",
        fill: "forwards",
      })
      .addEventListener("finish", (ev) => {
        const animation = ev.currentTarget as Animation;
        animation.commitStyles();
        animation.cancel();

        if (sliderStage === 5) {
          picturesBtn.removeEventListener("click", handleSliderProgress);
          delete picturesBtn.dataset["initial"];
          slider.style.opacity = "0";

          // Spider
          picturesBtn.children[1]!.animate(
            [{ scale: 0.4, opacity: 0.0, filter: "blur(var(--blur-2xl))" }],
            KEYFRAME_OPTS,
          ).addEventListener("finish", handleAnimationFinish);

          // Asa
          picturesBtn.children[2]!.animate(
            [{ scale: 1.0, opacity: 1.0, filter: "none" }],
            KEYFRAME_OPTS,
          ).addEventListener("finish", handleAnimationFinish);
        }
      });
  }

  picturesBtn.addEventListener("click", handleSliderProgress);
</script>
