---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import CommonLayout from "@/layouts/common-layout.astro";
import { CDN_URL } from "@/scripts/constants";

const gallery = (await getCollection("gallery")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<CommonLayout
  meta={{
    kind: "route",
    route: "gallery",
    description: "Everything I've ever done.",
  }}
  headerLinks={[]}
>
  <main class="space-y-pad-4 pt-pad pb-pad-4 desktop:pt-0">
    <h1
      class="mx-auto w-full px-pad-2 text-5xl font-bold text-heading desktop:w-4/5 desktop:px-pad lg:w-(--real-header-w)"
    >
      Gallery
    </h1>

    <ul
      class="mx-auto max-w-(--real-wide-w) columns-1 gap-pad-2 space-y-pad-2 px-pad-2 sm:columns-2 md:columns-3 xl:gap-pad-4 xl:space-y-pad-4"
    >
      {
        gallery.map(({ id, data: { type, cover } }) => (
          <li class="break-inside-avoid">
            <a href={`/gallery/${id}`} class="rounded-lg">
              {type === "visual" ?
                <Image
                  src={`${CDN_URL}/gallery/${id}/1.png`}
                  alt={cover.alt}
                  inferSize
                  priority
                  class="rounded-lg bg-sweater-9"
                />
              : null}
            </a>
          </li>
        ))
      }

      {
        Array.from({ length: 5 }).map(() => (
          <li class="break-inside-avoid bg-sweater-9">Media will go here</li>
        ))
      }
    </ul>
  </main>
</CommonLayout>
