---
import { getCollection, type CollectionEntry } from "astro:content";

import { getFullDateFormatting } from "@/scripts/util";
import MainLayout from "@/layouts/main-layout.astro";

const posts = await getCollection("posts");
const sortedPosts = posts.sort(
  (a, b) => b.data.posted.getTime() - a.data.posted.getTime(),
);
---

<MainLayout
  meta={{
    kind: "route",
    title: "Posts",
    description:
      "Random writing about stuff I've learned, things I'm working on, and interesting topics.",
    ogImageParams: "All my posts.",
  }}
>
  <section class="grid-line-before grid-line-after relative flex flex-col">
    {
      sortedPosts.map(({ data: { title, blurb, posted, cover }, id }) => (
        <a
          href={`/posts/${id}`}
          class="group grid grid-cols-4 border-dashed border-line-dark transition-colors not-last:border-b-(length:--border-w) hover:bg-line-dark"
        >
          <time class="col-1 flex border-r-(length:--border-w) border-dashed border-line-dark text-link-secondary">
            <span class="border-r-(length:--border-w) border-dashed border-line-dark p-pad">
              {posted.getFullYear()}
            </span>
            <span class="p-pad text-link-secondary transition-colors group-hover:text-link-secondary-hover">
              {posted.toLocaleDateString("en-US", {
                month: "long",
                day: "numeric",
                timeZone: "America/New_York",
              })}
            </span>
          </time>

          <span class="col-span-3 p-pad font-bold text-link-primary transition-colors group-hover:text-link-primary-hover">
            {title}
          </span>
        </a>
      ))
    }
  </section>
</MainLayout>
