@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  img {
    @apply italic;
  }

  /* inline code should have some padding and background */
  code {
    @apply rounded-md bg-sweater-9 px-1 py-0.5 text-[14px] font-[100];
  }

  pre {
    @apply rounded-xl p-4;
  }

  /* remove padding and background in codeblocks */
  pre code {
    @apply bg-transparent p-0;
  }
}

@font-face {
  font-family: "Berkeley Mono Variable";
  src: url("/_fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2-variations");
  font-weight: 100 150;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono Variable";
  src: url("/_fonts/BerkeleyMonoVariable-Italic.woff2") format("woff2-variations");
  font-weight: 100 150;
  font-stretch: 75% 125%;
  font-style: italic;
}
