@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  img {
    @apply italic;
  }

  /* inline code should have some padding and background */
  code {
    @apply rounded-md bg-sweater-9 px-1 py-0.5 text-sm;
  }

  pre {
    @apply rounded-xl p-4;
  }

  /* remove padding and background in codeblocks */
  pre code {
    @apply bg-transparent p-0;
  }
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
