@layer components {
  /* Only style elements rendered from MDX */
  .content {
    /* Prose width when TOC is collapsed. 593px is chosen to imitate the
     * current content width when TOC is expanded. */
    --collapsed-content-w: 593px;
    --resolved-collapsed-content-w: calc(
      var(--collapsed-content-w) + var(--spacing-pad-2)
    );

    @apply *:px-pad;

    /* In general, all media should have full width. */
    img,
    video {
      @apply w-full rounded-lg;
    }

    img:not([data-no-zoom]) {
      cursor: zoom-in;
    }

    /* Direct media needs to have its padding and width manually
     * adjusted, otherwise the border radius won't work. */
    > img,
    > video,
    > iframe {
      @apply mx-pad px-0;

      width: calc(100% - 2 * var(--spacing-pad));
    }

    /* Inline code should have some padding and unique background color */
    code {
      @apply rounded-md bg-sweater-9 px-1.5 py-0.5 wrap-break-word;

      font-size: var(--text-mono);

      @variant not-dark {
        @apply bg-sweater-2;
      }
    }

    del {
      @apply cursor-not-allowed text-sweater-6 line-through;

      @variant not-dark {
        @apply text-sweater-4;
      }
    }

    ul {
      @apply ml-pad-2 list-outside space-y-1;

      list-style-type: "➔";
    }

    ol {
      @apply ml-pad-2 list-outside space-y-0.5;

      list-style-type: decimal;
    }

    li {
      @apply pl-2;

      &::marker {
        @apply text-sweater-5;

        @variant not-dark {
          @apply text-sweater-6;
        }
      }
    }

    /* Only select <figure> elements not from the Expressive Code library */
    figcaption {
      @apply mt-1 text-sm text-subtitle *:inline;

      /* Draw a little arrow before the caption */
      &::before {
        @apply scale-90;

        content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkNmQzZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jb3JuZXItZG93bi1yaWdodC1pY29uIGx1Y2lkZS1jb3JuZXItZG93bi1yaWdodCI+PHBvbHlsaW5lIHBvaW50cz0iMTUgMTAgMjAgMTUgMTUgMjAiLz48cGF0aCBkPSJNNCA0djdhNCA0IDAgMCAwIDQgNGgxMiIvPjwvc3ZnPg==");

        translate: 0px calc(var(--spacing) * 0.6);
        display: inline-block;
        padding-right: 3.5px;
        opacity: 90%;

        @variant not-dark {
          content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTEwIDYuNjY2NjdMMTMuMzMzMyAxMEwxMCAxMy4zMzMzIiBzdHJva2U9IiM0ODQzOTAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0yLjY2NjYzIDIuNjY2NjdWNy4zMzMzNEMyLjY2NjYzIDguMDQwNTggMi45NDc1OCA4LjcxODg2IDMuNDQ3NjcgOS4yMTg5NkMzLjk0Nzc3IDkuNzE5MDUgNC42MjYwNSAxMCA1LjMzMzI5IDEwSDEzLjMzMzMiIHN0cm9rZT0iIzQ4NDM5MCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+");
        }
      }
    }

    table {
      @apply border-y-(length:--border-w) border-dashed border-line-dark;

      width: 100%;

      thead {
        @apply border-b-(length:--border-w) border-dashed border-line-dark bg-sweater-9/70 font-bold text-sweater-2 not-dark:bg-sweater-2/70 not-dark:text-sweater-8;

        th {
          @apply px-pad not-last:border-r-(length:--border-w) not-last:border-dashed not-last:border-line-dark;
        }
      }

      tbody {
        tr {
          @apply not-last:border-b-(length:--border-w) not-last:border-dashed not-last:border-line-dark even:bg-sweater-9/35 not-dark:even:bg-sweater-2/35;

          td {
            @apply px-pad leading-snug not-last:border-r-(length:--border-w) not-last:border-dashed not-last:border-line-dark;
          }
        }
      }
    }

    /* Target auto-generated footnotes */
    section[data-footnotes] {
      @apply mb-0! border-t-(length:--border-w) border-dashed border-line-dark pt-pad;

      /* MDX generates a "Footnotes" heading. Make it screen reader only */
      > h2#footnote-label {
        @apply sr-only;
      }

      > ol {
        @apply space-y-1.5 text-subtitle;

        /* The following two selectors are to make sure back ref arrows are 
         * inline with the text */
        > li > p:has(> a[data-footnote-backref]) {
          display: inline;
        }

        a[data-footnote-backref] {
          display: inline;

          > svg {
            @apply -translate-y-0.5;

            stroke-width: 3px;
            display: inline;
          }
        }
      }
    }
  }
}
