@layer base {
  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/_files/fonts/AtkHypNext-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/_files/fonts/AtkHypNext-RegularItalic.woff2") format("woff2");
  }

  /* Pretend semibold is bold because it looks better */
  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/_files/fonts/AtkHypNext-SemiBold.woff2") format("woff2");
  }

  /* Pretend semibold is bold because it looks better */
  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("/_files/fonts/AtkHypNext-SemiBoldItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Maple Mono";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/_files/fonts/MapleMono-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Maple Mono";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/_files/fonts/MapleMono-RegularItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Maple Mono";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/_files/fonts/MapleMono-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Maple Mono";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("/_files/fonts/MapleMono-BoldItalic.woff2") format("woff2");
  }
}
