@layer base {
  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/_files/fonts/AtkHypNext-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/_files/fonts/AtkHypNext-RegularItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/_files/fonts/AtkHypNext-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("/_files/fonts/AtkHypNext-BoldItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Hermit";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/_files/fonts/Hermit-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Hermit";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/_files/fonts/Hermit-RegularItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Hermit";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/_files/fonts/Hermit-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Hermit";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("/_files/fonts/Hermit-BoldItalic.woff2") format("woff2");
  }
}
