@import "tailwindcss";

@import "./animations.css";
@import "./fonts.css";
@import "./mdx.css";

@theme {
  /* No good way of referencing default theme. See https://github.com/tailwindlabs/tailwindcss/discussions/15253 */
  --font-sans:
    "Atkinson Hyperlegible Next", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Maple Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  /* Monospace text should be a little smaller than display text. Otherwise it looks too large. */
  --text-mono: 0.85rem;

  /* This is 8 * 0.25rem = 30px, because I consider 1rem = 15px */
  --spacing-space: --spacing(8);

  --color-sweater-1: #eae9ff;
  --color-sweater-2: #d6d3ff;
  --color-sweater-3: #c3bdff;
  --color-sweater-4: #ada6ff;
  --color-sweater-5: #9a91fe;
  --color-sweater-6: #6b62cb;
  --color-sweater-7: #484390;
  --color-sweater-8: #312d65;
  --color-sweater-9: #1d193d;
  --color-sweater-10: #0a0919;

  /* Accounts for padding on left and right sides */
  --container-normal: calc(var(--normal-w) + 2 * var(--spacing-space));
  --container-wide: calc(var(--wide-w) + 2 * var(--spacing-space));

  /* Terrible names, but these don't really represent anything and are just good values by themselves */
  --breakpoint-380: 380px;
  --breakpoint-480: 480px;
  --breakpoint-560: 560px;

  /* Used for shifting the hashtag icons next to MDX headings to the right side when screen width becomes too small */
  --breakpoint-heading: 760px;

  /* Calculated by summing up the following:
   *
   * - Wide width aka --wide-w
   * - First pair of column-gap using --spacing-space
   * - 320px. TOC has minimum 160px width, reflected on other side as well
   * - Second pair of column-gap using --spacing-space
   * 
   * This is the minimum width before the TOC disappears and grid collapses to mobile.
   */
  --breakpoint-toc: 1340px;

  /* Calculated the same way as --container-normal */
  --breakpoint-normal: 710px;
}

@utility pill {
  @apply bg-sweater-4 text-sweater-9 hover:bg-sweater-3 rounded-full px-3 py-1.5 transition-colors;

  @variant hover {
    @apply bg-sweater-3;
  }

  &[data-quiet="true"] {
    @apply bg-sweater-9 text-sweater-4;

    @variant hover {
      @apply bg-sweater-8 text-sweater-3;
    }
  }
}

@utility maple {
  @apply font-mono;

  font-size: var(--text-mono);
}

@utility subtitle {
  @apply text-sweater-2/85;
}

@utility span-normal {
  @apply max-w-normal mx-auto px-8;
}

@utility span-wide {
  @apply max-w-wide mx-auto px-8;
}

@utility span-height {
  min-height: calc(100vh - var(--header-h) - var(--footer-h));
}

@layer base {
  /* Expose common and global values to everyone */
  :root {
    --fade-speed: 100ms;

    --normal-w: 650px;
    --wide-w: 900px;

    --header-h: 210px;
    --footer-h: 71.25px;

    @variant 480 {
      --header-h: 147.38px;
    }

    @variant sm {
      --header-h: 150px;
    }
  }

  html {
    @apply bg-sweater-10 text-sweater-1 scroll-smooth;

    font-size: 15px;
  }

  /* Make vertical scrollbar always visible so horizontal content doesn't jump */
  body {
    overflow-y: scroll;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-sweater-2 font-bold;
  }

  img {
    font-style: italic;
  }
}
