@import "tailwindcss";

@import "./animations.css";
@import "./fonts.css";
@import "./mdx.css";
@import "./overrides.css";

@theme {
  --font-sans: "Atkinson Hyperlegible Next";
  --font-mono: "Maple Mono";

  /* See https://font.subf.dev/en/playground for what each value means */
  --font-mono--font-feature-settings:
    "cv01", "cv02", "cv05", "cv61", "ss05", "ss11";

  /* Monospace text should be a little smaller than display text. Otherwise it looks too large. */
  --text-mono: 0.85rem;

  --spacing-space: --spacing(8);
  /* This is 2.5 * 0.25rem = 0.625rem = 9.375px (1rem = 15px) */
  --spacing-pad: --spacing(2.5);
  --spacing-pad-2: calc(var(--spacing-pad) * 2);

  --color-sweater-1: #eae9ff;
  --color-sweater-2: #d6d3ff;
  --color-sweater-3: #c3bdff;
  --color-sweater-4: #ada6ff;
  --color-sweater-5: #9a91fe;
  --color-sweater-6: #6b62cb;
  --color-sweater-7: #484390;
  --color-sweater-8: #312d65;
  --color-sweater-9: #1d193d;
  --color-sweater-10: #0a0919;

  --color-line-bright: --alpha(var(--color-sweater-9) / 85%);
  --color-line-dark: --alpha(var(--color-sweater-9) / 65%);

  /* Accounts for padding and border width on left and right sides */
  --container-normal: calc(
    var(--normal-w) + 2 * var(--spacing-pad) + 2 * var(--border-w)
  );
  --container-wide: calc(var(--wide-w) + 2 * var(--spacing-space));

  /* Terrible names, but these don't really represent anything and are just good values by themselves */
  --breakpoint-380: 380px;
  --breakpoint-480: 480px;
  --breakpoint-560: 560px;

  /* Used for shifting the hashtag icons next to MDX headings to the right side when screen width becomes too small */
  --breakpoint-heading: 760px;

  /* Calculated by summing up the following:
   *
   * - Wide width aka --wide-w
   * - First pair of column-gap using --spacing-space
   * - 320px. TOC has minimum 160px width, reflected on other side as well
   * - Second pair of column-gap using --spacing-space
   * 
   * This is the minimum width before the TOC disappears and grid collapses to mobile.
   */
  --breakpoint-toc: 1340px;

  /* Calculated the same way as --container-normal */
  --breakpoint-normal: 710px;
}

@layer base {
  /* Expose common and global values to everyone */
  :root {
    --fade-speed: 100ms;

    --border-w: 2px;
    --normal-w: 800px;
    --wide-w: 900px;

    --header-h: 210px;
    --footer-h: 71.25px;

    @variant 480 {
      --header-h: 147.38px;
    }

    @variant sm {
      --header-h: 150px;
    }
  }

  html {
    @apply scroll-smooth bg-sweater-10 text-sweater-1;

    font-size: 15px;
  }

  /* Make vertical scrollbar always visible so horizontal content doesn't jump */
  body {
    overflow-y: scroll;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  img {
    font-style: italic;
  }
}

@utility grid-line-before {
  &::before {
    content: "";

    position: absolute;
    top: 0px;
    left: -100vw;

    height: var(--border-w);
    width: 200vw;

    background-color: var(--color-line-bright);
  }
}

@utility grid-line-after {
  &::after {
    content: "";

    position: absolute;
    bottom: 0px;
    left: -100vw;

    height: var(--border-w);
    width: 200vw;

    background-color: var(--color-line-bright);
  }
}

@utility pill {
  @apply rounded-full bg-sweater-4 px-3 py-1.5 text-sweater-9 transition-colors hover:bg-sweater-3;

  @variant hover {
    @apply bg-sweater-3;
  }

  &[data-quiet="true"] {
    @apply bg-sweater-9 text-sweater-4;

    @variant hover {
      @apply bg-sweater-8 text-sweater-3;
    }
  }
}

@utility maple {
  @apply font-mono;

  font-size: var(--text-mono);
}

@utility subtitle {
  @apply text-sweater-2/85;
}

@utility span-normal {
  @apply mx-auto max-w-normal px-8;
}

@utility span-wide {
  @apply mx-auto max-w-wide px-8;
}

@utility span-height {
  min-height: calc(100vh - var(--header-h) - var(--footer-h));
}
