@import "tailwindcss";

@import "./animations.css";
@import "./fonts.css";
@import "./mdx.css";
@import "./overrides.css";

@theme {
  --font-sans: "Atkinson Hyperlegible Next";
  --font-mono: "Maple Mono";

  /* See https://font.subf.dev/en/playground for what each value means */
  --font-mono--font-feature-settings:
    "cv01", "cv02", "cv05", "cv61", "ss05", "ss11";

  /* Monospace text should be a little smaller than display text. Otherwise
   * it looks too large. */
  --text-mono: 0.87rem;

  /* This is 2.5 * 0.25rem = 0.625rem = 10px (1rem = 16px) */
  --spacing-pad: --spacing(2.5);
  --spacing-pad-2: calc(var(--spacing-pad) * 2);
  --spacing-pad-4: calc(var(--spacing-pad-2) * 2);

  /* This should stay in sync with the ICON_SIZE constant. */
  --spacing-icon: 20px;

  /* Primitives */
  --color-sweater-1: #e1dfff;
  --color-sweater-2: #d6d3ff;
  --color-sweater-3: #c3bdff;
  --color-sweater-4: #ada6ff;
  --color-sweater-5: #9a91fe;
  --color-sweater-6: #6b62cb;
  --color-sweater-7: #484390;
  --color-sweater-8: #312d65;
  --color-sweater-9: #1d193d;
  --color-sweater-10: #0a0919;

  --color-line: var(--line);

  --color-link-primary: var(--link-primary);
  --color-link-primary-hover: var(--link-primary-hover);
  --color-link-secondary: var(--link-secondary);
  --color-link-secondary-hover: var(--link-secondary-hover);

  --color-icon: var(--icon);

  /* A good indicator for when we're beyond phone width territory. As an
   * example, the iPhone 14 Pro Max has a screen width of 430px. */
  --breakpoint-desktop: 480px;

  /* Terrible names, but these don't really represent anything and are
   * just good values by themselves */
  --breakpoint-380: 380px;
  --breakpoint-560: 560px;
}

@layer base {
  :root {
    --border-w: 2px;

    --header-w: 700px;
    --real-header-w: calc(var(--header-w) + var(--spacing-pad-2));

    /* Results in roughly 80 characters per line. */
    --content-w: 550px;

    --line: var(--color-sweater-9);
    --link-primary: var(--color-sweater-3);
    --link-primary-hover: var(--color-sweater-1);
    --link-secondary: var(--color-sweater-5);
    --link-secondary-hover: var(--color-sweater-4);
    --icon: var(--color-sweater-6);

    @variant not-dark {
      --line: var(--color-sweater-2);
      --link-primary: var(--color-sweater-7);
      --link-primary-hover: var(--color-sweater-9);
      --link-secondary: var(--color-sweater-6);
      --link-secondary-hover: var(--color-sweater-7);
      --icon: var(--color-sweater-5);
    }
  }

  html {
    @apply bg-sweater-10 text-sweater-1;

    scrollbar-gutter: stable;

    &::selection {
      @apply bg-sweater-8 text-sweater-2;
    }

    @variant not-dark {
      @apply bg-sweater-1 text-sweater-10;

      &::selection {
        @apply bg-sweater-2 text-sweater-8;
      }
    }
  }

  /* Make vertical scrollbar always visible so horizontal content
   * doesn't jump */
  body {
    overflow-y: scroll;

    /* This usually causes the whole page to shift because it also
     * removes scrollbars, but we set scrollbar-gutter above. However, this
     * causes there to be a gap on the right edge of the screen. I am
     * hoping the dialog backdrop masks this... */
    &:has(dialog[open]) {
      overflow: hidden;
    }
  }

  p,
  a,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  img,
  video {
    font-style: italic;

    &::selection {
      background-color: var(--color-sweater-5);
    }

    @variant not-dark {
      &::selection {
        background-color: var(--color-sweater-2);
      }
    }
  }
}

@utility maple {
  @apply font-mono text-mono;
}

@utility border-style {
  @apply border-dashed border-line;
}

@utility bordered {
  @apply border-(length:--border-w) border-style;
}
