@utility bleed-wide {
  width: 100%;
  max-width: var(--container-wide);
  margin-left: auto;
  margin-right: auto;
  padding-inline: var(--spacing-space);
  grid-column: 1 / -1;

  @variant toc {
    grid-column: 2 / 5;
    padding-inline: 0px;
  }
}

/* A good explanation of what's going on: https://www.joshwcomeau.com/css/full-bleed/ */
@utility mdx-span-normal {
  display: grid;
  column-gap: var(--spacing-space);
  grid-template-columns:
    1fr min(var(--normal-w), 100% - 2 * var(--spacing-space))
    1fr;

  /* The 95px is calculated as follows: <wide width> - <pair of column-gap spacing> - <normal width> = 190px. We then split it evenly across both sides */
  @variant toc {
    grid-template-columns:
      2fr 95px min(var(--normal-w), 100% - 4 * var(--spacing-space))
      95px 2fr;
  }
}

@layer base {
  /* Only style elements rendered from MDX */
  article > .mdx-span-normal {
    /* This is in the base layer so that other utilities can override it */
    & > * {
      grid-column: 2;

      @variant toc {
        grid-column: 3;
      }
    }

    & img,
    video {
      @apply w-full rounded-xl bg-sweater-9;
    }

    /* Utility to remove background for images and videos (e.g. they're transparent and we don't want to see it) */
    & .no-bg {
      & > img,
      > video {
        background-color: inherit;
      }
    }

    /* Inline code should have some padding and unique background color */
    & code {
      @apply rounded-md bg-sweater-9 px-1 py-0.5 break-words;

      font-size: var(--text-mono);
      font-weight: 100;
    }

    /* Treat inline code differently inside callouts (but this way utilities can still override it) */
    & aside {
      & code {
        @apply bg-sweater-8;
      }
    }

    & del {
      @apply cursor-not-allowed text-sweater-6 line-through;
    }

    & li {
      @apply pl-2.5 break-words;
    }

    & ul,
    ol {
      @apply ml-5 list-outside space-y-2;

      ::marker {
        @apply text-sweater-4 tabular-nums;
      }
    }

    & ul {
      list-style-type: "➔";
    }

    & ol {
      list-style-type: decimal;
    }

    /* Only select <figure> elements not from the Expressive Code library */
    & figcaption {
      @apply mx-auto mt-2 text-subtitle *:inline;

      max-width: var(--normal-w);
      font-size: 0.9rem;

      /* Render a little arrow before the caption */
      &::before {
        @apply translate-y-[calc(var(--spacing)*0.6)] scale-90;

        content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkNmQzZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jb3JuZXItZG93bi1yaWdodC1pY29uIGx1Y2lkZS1jb3JuZXItZG93bi1yaWdodCI+PHBvbHlsaW5lIHBvaW50cz0iMTUgMTAgMjAgMTUgMTUgMjAiLz48cGF0aCBkPSJNNCA0djdhNCA0IDAgMCAwIDQgNGgxMiIvPjwvc3ZnPg==");

        display: inline-block;
        padding-right: 3.5px;
        font-weight: bold;
        opacity: 85%;
      }
    }

    & a {
      text-wrap: pretty;
    }

    /* Target auto-generated footnotes */
    & section[data-footnotes] {
      /* Important tag on margin-top is necessary to override space-y-6 affecting whole section */
      @apply mt-6! border-t-2 border-sweater-9 pt-12;

      /* MDX generates a "Footnotes" heading. Make it screen reader only */
      & > h2#footnote-label {
        @apply sr-only;
      }

      & > ol {
        @apply text-subtitle;

        /* The following two selectors are to make sure back ref arrows are inline with the text */
        & > li > p:has(> a[data-footnote-backref]) {
          display: inline;
        }

        & a[data-footnote-backref] {
          display: inline;

          & > svg {
            display: inline;
          }
        }
      }
    }

    & lite-youtube {
      /* biome-ignore lint/complexity/noImportantStyles: override hardcoded 720px max width on lite-youtube element  */
      max-width: none !important;
    }

    & hr {
      /* Apply extra spacing to the top and bottom of the line */
      @apply !mt-6 !mb-12;

      border-width: 1.5px;
      color: var(--color-sweater-8);
    }
  }
}
