---
import { Image } from "astro:assets";

import Link from "@/components/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  meta={{
    kind: "route",
    title: "404",
    description: "Sorry, this page doesn't exist.",
    ogImageParams: "Page not found.",
  }}
  class="flex flex-col items-center justify-center p-pad"
>
  <Image
    src={import("@/assets/not_found.png")}
    alt="Page not found"
    class="w-[clamp(400px,80%,500px)]"
  />

  <p>
    Sorry, page not found.
    <Link href="https://twitter.com/sawaratsuki1004" target="_blank">
      Art by @sawaratsuki1004.
    </Link>
  </p>
</MainLayout>
