---
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="404"
  description="Page not found"
>
  <section class="mt-8 flex flex-col items-center justify-center gap-2">
    <h1 class="text-5xl text-sweater-2">404</h1>
    <p>Page not found.</p>
    <p class="italic text-sweater-6">Or stay here. I can't stop ya.</p>
  </section>
</Layout>
