---
import Header from "@/layouts/header.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="404"
  description="Page not found"
>
  <Header />

  <main
    class="max-w-narrow wide:py-10 mx-auto flex min-h-[calc(100vh-81px)] flex-col items-center justify-center space-y-8 py-5"
  >
    <section class="text-center">
      <h2 class="font-mono text-5xl text-sweater-2">404</h2>
      <p class="text-lg font-[130] text-sweater-2">Page not found</p>
    </section>

    <code class="font-[100] text-sweater-2">{Astro.url.pathname}</code>

    <p
      id="scroll"
      aria-hidden="true"
      class="font-mono font-[100] italic text-sweater-7 transition-colors"
    >
    </p>
  </main>
</Layout>

<script>
  const fun = [
    "soitgoes",
    "aczw",
    "newfaces",
    "doitagain",
    "92tilinfinity",
    "suboptimal",
    "promiseme",
    "allitcosts",
  ];

  const pick = fun[Math.floor(Math.random() * fun.length)];
  const offset = Math.floor(Math.random() * pick.length);

  document.getElementById("scroll")!.textContent = pick.slice(offset) + pick.slice(0, offset);

  setInterval(() => {
    const scroll = document.getElementById("scroll");
    const text = scroll!.textContent;
    scroll!.textContent = text!.slice(1) + text![0];
  }, 400);
</script>
