---
import Header from "@/layouts/header.astro";
import Layout from "@/layouts/layout.astro";

Astro.response.status = 404;
Astro.response.statusText = "Page not found";
---

<Layout
  title="404"
  description="Page not found"
>
  <Header />

  <main
    class="mx-auto flex min-h-[calc(100vh-81px)] max-w-narrow flex-col items-center justify-center space-y-8 py-5 wide:py-10"
  >
    <section class="text-center">
      <h2 class="font-mono text-5xl font-[130] text-sweater-2">404</h2>
      <p class="text-lg font-[130] text-sweater-2">Sorry, page not found.</p>
    </section>

    <p
      id="scroll"
      aria-hidden="true"
      class="rounded-md bg-sweater-9 px-1.5 py-0.5 font-mono font-[100] italic text-sweater-7 transition-colors"
    >
    </p>
  </main>
</Layout>

<script>
  const fun = [
    "soitgoes",
    "aczw",
    "newfaces",
    "doitagain",
    "tilinfinity",
    "suboptimal",
    "promiseme",
    "allitcosts",
  ];

  const pick = fun[Math.floor(Math.random() * fun.length)];
  const offset = Math.floor(Math.random() * pick.length);

  document.getElementById("scroll")!.textContent = pick.slice(offset) + pick.slice(0, offset);

  setInterval(() => {
    const scroll = document.getElementById("scroll");
    const text = scroll!.textContent;
    scroll!.textContent = text!.slice(1) + text![0];
  }, 500);
</script>
