---
import Link from "@/components/link.astro";

import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";
import Layout from "@/layouts/layout.astro";
import Main from "@/layouts/main.astro";

import { Image } from "astro:assets";
import { getEntries } from "astro:content";

import { ArrowRight } from "lucide-astro";

const posts = await getEntries([
  { collection: "posts", slug: "mini-minecraft" },
  { collection: "posts", slug: "link-shortener" },
  { collection: "posts", slug: "rcw" },
  { collection: "posts", slug: "sddm-theme-corners" },
]);
---

<Layout description="Computer graphics student at the University of Pennsylvania.">
  <Header />

  <Main className="min-h-[calc(100vh-113px)] max-w-wide wide:min-h-[calc(100vh-157px)]">
    <blockquote
      class="-translate-x-1.5 animate-fade font-mono text-[14px] font-[120] italic text-sweater-3 [--order:0]"
    >
      <p>"Waiting for something to happen?" — MEWO</p>
    </blockquote>

    <section class="animate-fade space-y-5 [--order:1]">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <p>
          Hi, I'm Charles. I'm a student at the University of Pennsylvania majoring in Digital Media
          Design, which is a program that combines CS with computer graphics and fine arts.
        </p>
        <p>
          I like to design and build games and websites. I also have an interest in graphics
          programming. To that end, I help run our game dev club <Link
            href="https://pennupgrade.com"
            target="_blank"
            >UPGRADE</Link
          > and our
          <Link
            href="http://cg.cis.upenn.edu/siggraph/"
            target="_blank"
            >SIGGRAPH chapter</Link
          >.
        </p>
        <p>
          In my free time I like running, making album covers, playing the bass, obsessing over
          trains, and tinkering with my Arch install.
        </p>
        <p>
          You can visit all my posts above. My socials can be found below. Thanks for stopping by. <span
            aria-hidden="true"
            class="whitespace-nowrap"
            >(〜￣▽￣)〜</span
          >
        </p>
      </div>
    </section>

    <section class="grid animate-fade grid-cols-1 gap-5 pt-2.5 [--order:2] sm:grid-cols-2">
      {
        posts.map((post, idx) => {
          const {
            data: { title, tags, cover },
            slug,
          } = post;

          return (
            <a
              href={`/posts/${slug}`}
              class="group animate-fade"
              style={{ "--order": idx + 2 }}
            >
              <Image
                src={cover.img}
                alt={cover.alt}
                loading="eager"
                class="aspect-[16/10] rounded-t-xl bg-sweater-9 object-cover transition-opacity group-hover:opacity-100 sm:opacity-80"
              />

              <div class="space-y-1 rounded-b-xl bg-sweater-9 p-4 transition-colors group-hover:bg-sweater-8">
                <span class="flex items-center justify-between gap-5">
                  <div>
                    <h2 class="break-words text-sweater-2">{title}</h2>
                    <p class="font-mono text-[14px] font-[120] text-sweater-4">
                      {tags.join(" • ")}
                    </p>
                  </div>

                  <div
                    aria-hidden="true"
                    class="rounded-full bg-sweater-8 p-1.5 transition-colors group-hover:bg-sweater-7"
                  >
                    <ArrowRight class="shrink-0 stroke-sweater-5 transition-colors group-hover:stroke-sweater-3" />
                  </div>
                </span>
              </div>
            </a>
          );
        })
      }
    </section>
  </Main>

  <Footer />
</Layout>
