---
export const prerender = false;

import Img from "@/components/img.astro";
import LastFm from "@/components/lastfm.astro";
import Link from "@/components/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
import PrimitiveLayout from "@/layouts/primitive-layout.astro";
import { getEntries } from "astro:content";
import { ArrowRightCircle } from "lucide-astro";

const selectedProjects = await getEntries([
  { collection: "projects", slug: "mini-minecraft" },
  { collection: "projects", slug: "rcw" },
]);
---

<PrimitiveLayout
  title="Charles Wang"
  description="Computer graphics student at the University of Pennsylvania."
>
  <MainLayout className="space-y-10">
    <section class="animate-fade space-y-[1rem] [--delay:75ms]">
      <h2 class="text-sweater-2">About me</h2>
      <p>
        Hi, my name is Charles. I'm a student at the University of Pennsylvania majoring in
        <Link
          href="http://cg.cis.upenn.edu/dmd.html"
          newTab
        >
          {"Digital Media Design"}
        </Link>, an interdisciplinary program that combines computer science and fine arts.
      </p>
      <p>
        I want to make games and build websites. To that end, I help run Penn's game development
        club
        <Link
          href="https://pennupgrade.com"
          newTab
        >
          {"UPGRADE"}
        </Link>
         and also maintain
        <Link
          href="http://cg.cis.upenn.edu/siggraph/"
          newTab
        >
          {"the website"}
        </Link> for our SIGGRAPH chapter.
      </p>
      <p>
        In my free time I like running, designing album covers, obsessing over rail systems,
        practicing bass guitar, and ricing my Arch setup.
      </p>
      <p>My contact info is below. Thanks for stopping by. (〜￣▽￣)〜</p>
    </section>

    <section class="animate-fade space-y-[1rem] [--delay:150ms]">
      <h2 class="mb-[1rem] text-sweater-2">Highlighted projects</h2>
      <ul class="space-y-[1rem]">
        {
          selectedProjects.map(({ data, slug }) => (
            <li class="group rounded-md bg-sweater-9 transition-colors hover:bg-sweater-8">
              <a
                href={"/projects/" + slug}
                class="flex flex-col items-start gap-4 p-3.5 sm:flex-row sm:items-center sm:gap-6"
              >
                <Img
                  src={data.cover.img}
                  alt={data.cover.alt}
                  className="max-h-48 sm:h-16 sm:w-28 object-cover object-top shrink-0 rounded-sm"
                />
                <div class="flex grow items-center justify-between gap-4 sm:gap-6">
                  <div>
                    <h3 class="text-sweater-2">{data.title}</h3>
                    <p>{data.blurb}</p>
                  </div>
                  <ArrowRightCircle
                    size={20}
                    class="shrink-0 stroke-sweater-7 transition-colors group-hover:stroke-sweater-5"
                  />
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <Link
        href="/projects"
        className="group"
      >
        <div
          class="relative z-[-2] mt-[1rem] flex h-12 items-end justify-center rounded-t-md bg-gradient-to-b from-sweater-9"
        >
          <div
            class="absolute inset-0 z-[-1] rounded-t-md bg-gradient-to-b from-sweater-8 opacity-0 transition-opacity group-hover:opacity-100"
            aria-hidden="true"
          >
          </div>
          <span class="flex items-center">View all</span>
        </div>
      </Link>
    </section>

    <section class="animate-fade space-y-[1rem] [--delay:225ms]">
      <h2 class="mb-[1rem] text-sweater-2">Music status</h2>
      <LastFm />
    </section>
  </MainLayout>
</PrimitiveLayout>
