---
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Charles Wang"
  description="My own little corner on the internet. Welcome!!"
>
  <!-- 56px for the header, 49px for the footer -->
  <main class="min-h-[calc(100vh-105px)] flex items-center justify-center">
    <div
      class="grid grid-flow-row grid-cols-4 auto-cols-fr auto-rows-fr grid-rows-4 gap-5 xl:grid-cols-[11] xl:grid-flow-col my-14"
    >
      <div class="bg-sweater-9 row-span-4 col-span-4 h-80 w-80 sm:h-96 sm:w-96">
        test
      </div>
      <div class="bg-sweater-9">test</div>

      <div class="bg-sweater-9">test</div>

      <div class="bg-sweater-9">test</div>

      <div class="bg-sweater-9">test</div>

      <div class="row-span-2 col-span-2 bg-red-100">test</div>

      <div class="row-span-2 col-span-2 bg-red-100">test</div>

      <div class="row-span-2 col-span-4 bg-blue-100">test</div>

      <div class="row-span-2 col-span-4 bg-blue-100">test</div>
    </div>
  </main>
</Layout>
