---
import { ArrowRightCircle } from "lucide-astro";

import Img from "@/components/img.astro";
import Link from "@/components/link.astro";

import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";
import Layout from "@/layouts/layout.astro";
import Main from "@/layouts/main.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("write-ups");
projects.sort((a, b) => a.data.order - b.data.order);
---

<Layout description="Computer graphics student at the University of Pennsylvania.">
  <Header />

  <Main>
    <blockquote class="flex -translate-x-1.5 gap-6 font-mono text-sm italic text-sweater-3">
      <p>"Waiting for something to happen?"</p>
      <small class="text-sm">— MEWO</small>
    </blockquote>

    <section class="animate-fade space-y-[1.25rem] [--order:0]">
      <h2 class="text-sweater-2">About me</h2>

      <div class="grid grid-cols-1 gap-[1.25rem] md:grid-cols-2">
        <p>
          Hi, I'm Charles. I'm a student at the University of Pennsylvania majoring in Digital Media
          Design, which is a program that combines CS with computer graphics and fine arts.
        </p>
        <p>
          I like to design interfaces for games and websites. To that end, I help run our game dev
          club <Link
            href="https://pennupgrade.com"
            target="_blank"
          >
            {"UPGRADE"}
          </Link> and our
          <Link
            href="http://cg.cis.upenn.edu/siggraph/"
            target="_blank"
          >
            {"SIGGRAPH chapter"}
          </Link>. I'm also working with <Link
            href="https://www.cis.upenn.edu/~mhnaik/"
            target="_blank"
          >
            {"Prof. Mayur Naik"}
          </Link> to build web platforms.
        </p>
        <p>
          In my free time I like running, making album covers, playing the bass, obsessing over
          trains, and tinerking with my Arch install.
        </p>
        <p>
          My socials can be found above. Thanks for stopping by. <span class="whitespace-nowrap"
            >(〜￣▽￣)〜</span>
        </p>
      </div>
    </section>

    <section class="animate-fade space-y-[1.25rem] [--order:1]">
      <h2 class="text-sweater-2">Projects</h2>
      <p>
        An assortment of websites and games I've designed, as well as some computer graphics
        projects. <Link href="/projects">View all my projects here.</Link>
      </p>

      <ul class="grid grid-cols-1 gap-[1.25rem] sm:grid-cols-2">
        {
          projects.map(({ data, slug }) => (
            <li class="group">
              <a
                href={"/projects/" + slug}
                class="relative flex items-center justify-between gap-6 overflow-hidden rounded-md p-3.5"
              >
                <Img
                  src={data.cover.img}
                  alt={data.cover.alt}
                  loading="eager"
                  className="absolute inset-0 m-auto opacity-40 z-0 scale-105 blur group-hover:opacity-20 group-hover:blur-none transition"
                />
                <div
                  aria-hidden="true"
                  class="absolute inset-0 z-[1] rounded-md bg-gradient-to-l from-sweater-9 from-20%"
                />
                <div
                  aria-hidden="true"
                  class="absolute inset-0 z-[2] rounded-md bg-gradient-to-l from-sweater-8 opacity-0 transition-opacity group-hover:opacity-100"
                />
                <div class="z-[3]">
                  <h3 class="text-sweater-2">{data.title}</h3>
                </div>
                <ArrowRightCircle
                  size={20}
                  class="z-[3] shrink-0 stroke-sweater-5 transition-colors group-hover:stroke-sweater-3"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </Main>

  <Footer />
</Layout>
