---
import LastFmCard from "@/components/lastfm-card.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Charles Wang"
  description="My own little corner on the internet. Welcome!!"
>
  <!-- 56px for the header, 49px for the footer -->
  <main class="min-h-[calc(100vh-105px)] flex items-center justify-center">
    <div
      class="grid grid-flow-row grid-cols-4 auto-cols-fr auto-rows-fr grid-rows-4 gap-5 xl:grid-cols-[11] xl:grid-flow-col my-10 mx-3"
    >
      <!-- this is the shape that dictates the size of the other divs, because it's the largest -->
      <div
        class="bg-sweater-9 rounded-xl row-span-4 col-span-4 w-full sm:h-96 sm:w-96 flex flex-col justify-between text-sweater-1 p-8 space-y-5"
      >
        <h4 class="text-sweater-2 font-bold">About</h4>
        <p>
          Hi, I&apos;m Charles. I&apos;m a student at the University of
          Pennsylvania currently studying computer graphics and design.
        </p>
        <p>
          Check out stuff I&apos;ve done through the links at the top, including
          my resume. My contact info and other accounts are below.
        </p>
        <p>Thanks for stopping by!!</p>
        <p>(〜￣▽￣)〜</p>
      </div>

      <div
        class="bg-sweater-8 rounded-xl hover:bg-sweater-4 transition-all hover:rounded-[50px]"
      >
      </div>
      <div
        class="bg-sweater-7 rounded-xl hover:bg-sweater-3 transition-all hover:rounded-[50px]"
      >
      </div>
      <div
        class="bg-sweater-6 rounded-xl hover:bg-sweater-2 transition-all hover:rounded-[50px]"
      >
      </div>
      <div
        class="bg-sweater-5 rounded-xl hover:bg-sweater-1 transition-all hover:rounded-[50px]"
      >
      </div>

      <a
        href="/projects"
        class="row-span-2 col-span-2 p-5 bg-sweater-8 rounded-xl flex flex-col justify-between sm:w-[182px] sm:h-[182px] hover:bg-sweater-7 transition-colors"
      >
        <div class="flex space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width={28}
            height={28}
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-sweater-5"
            ><rect
              x="4"
              y="4"
              width="16"
              height="16"
              rx="2"
            ></rect><rect
              x="9"
              y="9"
              width="6"
              height="6"
            ></rect><path d="M15 2v2"></path><path d="M15 20v2"></path><path
              d="M2 15h2"></path><path d="M2 9h2"></path><path d="M20 15h2"
            ></path><path d="M20 9h2"></path><path d="M9 2v2"></path><path
              d="M9 20v2"></path></svg
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width={28}
            height={28}
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-sweater-5"
            ><circle
              cx="12"
              cy="12"
              r="10"
            ></circle><path d="M8 12h8"></path><path d="m12 16 4-4-4-4"
            ></path></svg
          >
        </div>

        <p class="text-sweater-1 leading-tight">
          <b>Coding stuff.</b> Projects about my random interests.
        </p>
      </a>
      <a
        href="/design"
        class="row-span-2 col-span-2 p-5 bg-sweater-8 rounded-xl flex flex-col justify-between sm:w-[182px] sm:h-[182px] hover:bg-sweater-7 transition-colors"
      >
        <div class="flex space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width={28}
            height={28}
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-sweater-5"
            ><line
              x1="22"
              x2="2"
              y1="6"
              y2="6"
            ></line><line
              x1="22"
              x2="2"
              y1="18"
              y2="18"
            ></line><line
              x1="6"
              x2="6"
              y1="2"
              y2="22"
            ></line><line
              x1="18"
              x2="18"
              y1="2"
              y2="22"
            ></line></svg
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width={28}
            height={28}
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-sweater-5"
            ><circle
              cx="12"
              cy="12"
              r="10"
            ></circle><path d="M8 12h8"></path><path d="m12 16 4-4-4-4"
            ></path></svg
          >
        </div>

        <p class="text-sweater-1 leading-tight">
          <b>Visual stuff.</b> Design and artwork for myself and others.
        </p>
      </a>

      <LastFmCard />
      <div
        class="row-span-2 col-span-4 bg-sweater-9 rounded-xl p-8 flex items-center justify-center"
      >
        <p class="text-sweater-7">Under construction</p>
      </div>
    </div>
  </main>
</Layout>
