---
export const prerender = false;

import Img from "@/components/img.astro";
import LastFm from "@/components/lastfm.astro";
import Link from "@/components/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
import PrimitiveLayout from "@/layouts/primitive-layout.astro";
import { getEntries } from "astro:content";
import { ArrowRightCircle } from "lucide-astro";

const selectedProjects = await getEntries([
  { collection: "projects", slug: "mini-minecraft" },
  { collection: "projects", slug: "rcw" },
]);
---

<PrimitiveLayout description="Computer graphics student at the University of Pennsylvania.">
  <MainLayout className="space-y-10">
    <section class="animate-fade space-y-[1rem] [--delay:75ms]">
      <h2 class="text-lg text-sweater-2">About me</h2>
      <p>
        Hi, my name is Charles. I'm a student at the University of Pennsylvania majoring in
        <Link
          href="http://cg.cis.upenn.edu/dmd.html"
          newTab
        >
          {"Digital Media Design"}
        </Link>, a program that combines a regular computer science curriculum with computer
        graphics and fine arts.
      </p>
      <p>
        I want to make games and build websites. To that end, I help run <Link
          href="https://pennupgrade.com"
          newTab
        >
          {"UPGRADE"}
        </Link>, our game dev club, and maintain the
        <Link
          href="http://cg.cis.upenn.edu/siggraph/"
          newTab
        >
          {"website"}
        </Link> for our SIGGRAPH chapter. I'm also working with <Link
          href="https://www.cis.upenn.edu/~mhnaik/"
          newTab
        >
          {"Professor Mayur Naik"}
        </Link> to help build web platforms for our research group.
      </p>
      <p>
        In my free time I like running, playing the bass, designing album covers, obsessing over
        metro systems, and ricing my Arch setup.
      </p>
      <p>My contact info is below. Thanks for stopping by. (〜￣▽￣)〜</p>
    </section>

    <section class="animate-fade space-y-[1rem] [--delay:150ms]">
      <h2 class="mb-[1rem] text-lg text-sweater-2">Projects</h2>
      <ul class="space-y-[1rem]">
        {
          selectedProjects.map(({ data, slug }) => (
            <li class="group">
              <a
                href={"/projects/" + slug}
                class="relative flex items-center justify-between gap-6 overflow-hidden rounded-md p-3.5"
              >
                <Img
                  src={data.cover.img}
                  alt={data.cover.alt}
                  className="absolute inset-0 m-auto opacity-40 z-0 scale-105 blur group-hover:opacity-20 group-hover:blur-none transition"
                />
                <div
                  aria-hidden="true"
                  class="absolute inset-0 z-[1] rounded-md bg-gradient-to-l from-sweater-9 from-20%"
                />
                <div
                  aria-hidden="true"
                  class="absolute inset-0 z-[2] rounded-md bg-gradient-to-l from-sweater-8 opacity-0 transition-opacity group-hover:opacity-100"
                />
                <div class="z-[3]">
                  <h3 class="text-sweater-2">{data.title}</h3>
                  <p>{data.blurb}</p>
                </div>
                <ArrowRightCircle
                  size={20}
                  class="z-[3] shrink-0 stroke-sweater-5 transition-colors group-hover:stroke-sweater-3"
                />
              </a>
            </li>
          ))
        }
      </ul>
      <Link
        href="/projects"
        className="group"
      >
        <div
          class="relative z-[-2] mt-[1rem] flex h-12 items-end justify-center rounded-t-md bg-gradient-to-b from-sweater-9"
        >
          <div
            class="absolute inset-0 z-[-1] rounded-t-md bg-gradient-to-b from-sweater-8 opacity-0 transition-opacity group-hover:opacity-100"
            aria-hidden="true"
          >
          </div>
          <span class="flex items-center">View all projects</span>
        </div>
      </Link>
    </section>

    <section class="animate-fade space-y-[1rem] [--delay:225ms]">
      <h2 class="mb-[1rem] text-lg text-sweater-2">Music status</h2>
      <LastFm />
    </section>
  </MainLayout>
</PrimitiveLayout>
