---
export const prerender = false;

import CardMd from "@/components/card-md.astro";
import CardSm from "@/components/card-sm.astro";
import LastFmRecent from "@/components/react/lastfm-recent";
import LastFmStats from "@/components/react/lastfm-stats";
import LastFmWeekly from "@/components/react/lastfm-weekly";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Charles Wang"
  description="My own little corner on the internet. Welcome!!"
>
  <!-- we subtract the heights of the header and footer -->
  <main class="flex min-h-[calc(100vh-88px-80px)] items-center justify-center">
    <section
      class="mx-3 grid auto-cols-fr grid-flow-row auto-rows-fr grid-rows-4 gap-3 md:grid-cols-6 lg:grid-cols-8 xl:grid-flow-col xl:grid-cols-9"
    >
      <div
        class="col-span-4 row-span-4 flex animate-[fade_.25s_ease-out_75ms_backwards] flex-col justify-between space-y-5 rounded-xl bg-sweater-9 p-8 text-sweater-1 xs:h-[400px] xs:max-w-[400px] 2xl:h-[500px] 2xl:max-w-[500px] 2xl:p-16"
      >
        <h4 class="font-mono text-sm font-bold text-sweater-2">About</h4>
        <p>
          Hi there, I&apos;m Charles. I&apos;m a student at the University of
          Pennsylvania currently majoring in computer graphics, with a minor in
          design.
        </p>
        <p>
          I&apos;m interested in making games and websites. In my free time I
          like running, designing album covers, reading manga, and learning the
          bass.
        </p>
        <p class="text-sweater-2">Thanks for stopping by!!</p>
        <p>(〜￣▽￣)〜</p>
      </div>

      <CardSm className="bg-sweater-8  hover:bg-sweater-4" />
      <CardSm className="bg-sweater-7  hover:bg-sweater-3" />
      <CardSm className="bg-sweater-6  hover:bg-sweater-2" />
      <CardSm className="bg-sweater-5  hover:bg-sweater-1" />

      <CardMd className="animate-[fade_.25s_ease-out_225ms_backwards]">
        <LastFmRecent client:load />
      </CardMd>

      <CardMd className="animate-[fade_.25s_ease-out_300ms_backwards]">
        <h4 class="w-fit font-mono text-sm font-bold text-sweater-2">
          Last.fm profile
        </h4>
        <LastFmStats client:load />
        <LastFmWeekly client:load />
      </CardMd>
    </section>
  </main>
</Layout>
