---
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Charles Wang"
  description="My own little corner on the internet. Welcome!!"
>
  <main class="min-h-screen">Testing tsting testing!!!0ddbl!</main>
</Layout>
