---
import { getCollection, getEntries } from "astro:content";

import Link from "@/components/link.astro";
import {
  getFullDateFormatting,
  getMonthYearDateFormatting,
} from "@/scripts/util";
import MainLayout from "@/layouts/main-layout.astro";
import { CircleArrowRightIcon } from "@lucide/astro";
import GridSection from "@/components/grid-section.astro";
import TechList from "@/components/tech-list.astro";
import BaseLayout from "@/layouts/base-layout.astro";

// Stuff below assumes this will only ever have 4 entries
const projects = await getEntries([
  { collection: "projects", id: "mini-minecraft" },
  { collection: "projects", id: "pbr-renderer" },
  { collection: "projects", id: "webgpu-clustered" },
  { collection: "projects", id: "door" },
]);

const showSubtitles = ["mini-minecraft", "door"];

let posts = await getCollection("posts");
posts = posts
  .sort((a, b) => b.data.posted.getTime() - a.data.posted.getTime())
  .slice(0, 3);
---

<BaseLayout
  meta={{
    kind: "route",
    title: null,
    description: "Computer graphics student at the University of Pennsylvania.",
    ogImageParams:
      "Computer graphics student at the University of Pennsylvania.",
  }}
>
  <div class="fixed bottom-0 left-0 space-y-pad-2 bg-sweater-8 p-pad-2">
    <header>
      <h1>Charles Wang</h1>

      <nav class="grid grid-cols-2">
        <a href="/projects">Portfolio</a>
        <a href="/posts">Posts</a>
        <a href="/fun">Stream</a>
        <a href="/about">About</a>
      </nav>
    </header>

    <main>
      <canvas
        class="pointer-events-none fixed inset-0 -z-1 h-screen w-screen bg-sweater-8"
      ></canvas>

      <p>Now playing: Mini Minecraft</p>
    </main>

    <footer>
      <a>Email</a>
    </footer>
  </div>
</BaseLayout>
