---
import Link from "@/components/link.astro";

import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";
import Layout from "@/layouts/layout.astro";
import Main from "@/layouts/main.astro";

import PostCard from "@/components/post-card.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
posts.sort((a, b) => a.data.order - b.data.order);
---

<Layout description="Computer graphics student at the University of Pennsylvania.">
  <Header />

  <Main className="min-h-[calc(100vh-113px)] max-w-wide wide:min-h-[calc(100vh-157px)]">
    <blockquote
      class="-translate-x-1.5 animate-fade font-mono text-[14px] font-[100] italic text-sweater-3 [--order:0]"
    >
      <p class="inline">"Waiting for something to happen?"</p>
      <small class="whitespace-nowrap text-sm">— MEWO</small>
    </blockquote>

    <section class="animate-fade space-y-5 [--order:1]">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <p>
          Hi, I'm Charles. I'm a student at the University of Pennsylvania majoring in Digital Media
          Design, which is a program that combines CS with computer graphics and fine arts.
        </p>
        <p>
          I like to design and build games and websites. To that end, I help run our game dev club <Link
            href="https://pennupgrade.com"
            target="_blank"
            >UPGRADE</Link
          > and our
          <Link
            href="http://cg.cis.upenn.edu/siggraph/"
            target="_blank"
            >SIGGRAPH chapter</Link
          >. I'm also working with Prof. Mayur Naik to build web platforms.
        </p>
        <p>
          In my free time I like running, making album covers, playing the bass, obsessing over
          trains, and tinkering with my Arch install.
        </p>
        <p>
          Check out some stuff I've done below. My socials can also be found below. Thanks for
          stopping by. <span
            aria-hidden="true"
            class="whitespace-nowrap"
            >(〜￣▽￣)〜</span
          >
        </p>
      </div>
    </section>

    <section class="animate-fade space-y-5 pt-2.5 [--order:2]">
      <ul class="grid grid-cols-1 gap-5 sm:grid-cols-2">
        {
          posts.map((post, index) => (
            <li
              class="animate-fade"
              style={{ "--order": index + 2 }}
            >
              <PostCard {...post} />
            </li>
          ))
        }
      </ul>
    </section>
  </Main>

  <Footer />
</Layout>
