---
export const prerender = false;

import LastFm from "@/components/lastfm.astro";
import Link from "@/components/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
import PrimitiveLayout from "@/layouts/primitive-layout.astro";
import { ArrowRight } from "lucide-astro";
---

<PrimitiveLayout
  title="Charles Wang"
  description="Computer graphics student at the University of Pennsylvania."
>
  <MainLayout className="space-y-10">
    <section class="animate-fade space-y-[1rem] [--delay:0ms]">
      <h3 class="font-bold text-sweater-2">About</h3>
      <p>
        Hi, my name is Charles. I'm a student at the University of Pennsylvania majoring in
        <Link
          href="http://cg.cis.upenn.edu/dmd.html"
          newTab
        >
          <>Digital Media Design</>
        </Link>, an interdisciplinary program that combines computer science and fine arts.
      </p>
      <p>
        I want to make games and build websites. To that end, I help run Penn's game development
        club <Link
          href="https://pennupgrade.com"
          newTab
        >
          <>UPGRADE</>
        </Link> and also maintain <Link
          href="http://cg.cis.upenn.edu/siggraph/"
          newTab
        >
          <>the website</>
        </Link> for our SIGGRAPH chapter.
      </p>
      <p>
        In my free time I like running, designing album covers, obsessing over rail systems,
        practicing bass guitar, and ricing my Arch setup.
      </p>
      <p>Thanks for stopping by. (〜￣▽￣)〜</p>
    </section>

    <section class="animate-fade space-y-[1rem] [--delay:150ms]">
      <h3 class="mb-[1rem] font-bold text-sweater-2">Projects</h3>
      <ul class="space-y-[1rem]">
        <li class="h-24 rounded-md bg-sweater-9 transition-colors hover:bg-sweater-8"></li>
        <li class="h-24 rounded-md bg-sweater-9 transition-colors hover:bg-sweater-8"></li>
      </ul>

      <Link
        href="/projects"
        className="group"
      >
        <div
          class="relative z-[-2] mt-[1rem] flex h-12 items-end justify-center rounded-t-md bg-gradient-to-b from-sweater-9"
        >
          <div
            class="absolute inset-0 z-[-1] rounded-t-md bg-gradient-to-b from-sweater-8 opacity-0 transition-opacity group-hover:opacity-100"
            aria-hidden="true"
          >
          </div>
          <span class="flex items-center">
            See more <ArrowRight
              class="ml-1"
              size={16}
            />
          </span>
        </div>
      </Link>
    </section>

    <section class="animate-fade space-y-[1rem] [--delay:300ms]">
      <h3 class="mb-[1rem] font-bold text-sweater-2">Status</h3>
      <LastFm />
    </section>
  </MainLayout>
</PrimitiveLayout>
