---
export const prerender = false;

import CardMd from "@/components/card-md.astro";
import CardSm from "@/components/card-sm.astro";
import LastFmRecent from "@/components/react/lastfm-recent";
import LastFmStats from "@/components/react/lastfm-stats";
import LastFmWeekly from "@/components/react/lastfm-weekly";
import { Link } from "@/components/react/link";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Charles Wang"
  description="My own little corner on the internet"
>
  <main
    class="flex min-h-[calc(100vh-theme(spacing.footer))] items-center justify-center pt-header"
  >
    <section
      class="m-3 grid auto-cols-fr grid-flow-row auto-rows-fr grid-rows-4 gap-3 md:grid-cols-6 lg:grid-cols-8 xl:grid-flow-col xl:grid-cols-9"
    >
      <div
        class="col-span-4 row-span-4 flex animate-fade flex-col justify-between space-y-5 rounded-xl bg-sweater-9 p-8 text-sweater-1 [--delay:100ms] xs:h-[400px] xs:max-w-[400px] 2xl:h-[500px] 2xl:max-w-[500px] 2xl:p-16"
      >
        <h4 class="font-mono text-sm font-bold text-sweater-2">About</h4>
        <p>
          Hi, I&apos;m Charles. I&apos;m a student at the University of
          Pennsylvania currently majoring in computer graphics, with a minor in
          design.
        </p>
        <p>
          I&apos;m interested in making games and building websites. I also like
          going running, bass guitar, designing album covers, obsessing about
          metro systems, and <Link
            href="https://github.com/aczw/dotfiles"
            newTab
          >
            <>ricing</>
          </Link> my Arch setup.
        </p>
        <p class="text-sweater-2">Thanks for stopping by!</p>
        <p>(〜￣▽￣)〜</p>
      </div>

      <CardSm className="bg-sweater-8  hover:bg-sweater-4" />
      <CardSm className="bg-sweater-7  hover:bg-sweater-3" />
      <CardSm className="bg-sweater-6  hover:bg-sweater-2" />
      <CardSm className="bg-sweater-5  hover:bg-sweater-1" />

      <CardMd className="animate-fade [--delay:300ms]">
        <LastFmRecent client:load />
      </CardMd>

      <CardMd className="animate-fade [--delay:400ms]">
        <div>
          <h4 class="w-fit font-mono text-sm font-bold text-sweater-2">
            My Last.fm
          </h4><p>
            <span class="xs:hidden 2xl:inline"
              >For fun and out of curiosity,{" "}</span
            >I started tracking my music habits a few years ago.
          </p>
        </div>
        <LastFmStats client:load />
        <LastFmWeekly client:load />
      </CardMd>
    </section>
  </main>
</Layout>
