---
export const prerender = false;

import CardMd from "@/components/card-md.astro";
import LastFmRecent from "@/components/react/lastfm-recent";
import LastFmStats from "@/components/react/lastfm-stats";
import LastFmWeekly from "@/components/react/lastfm-weekly";
import { Link } from "@/components/react/link";
import Layout from "@/layouts/layout.astro";
import { ArrowRightCircle, Bug, PaintBucket } from "lucide-astro";
---

<Layout
  title="Charles Wang"
  description="My own little corner on the internet. Welcome!!"
>
  <!-- we subtract the heights of the header and footer -->
  <main class="flex min-h-[calc(100vh-88px-80px)] items-center justify-center">
    <div
      class="mx-3 grid auto-cols-fr grid-flow-row auto-rows-fr grid-rows-4 gap-3 md:grid-cols-6 lg:grid-cols-8 xl:grid-flow-col xl:grid-cols-[11]"
    >
      <div
        class="col-span-4 row-span-4 flex flex-col justify-between space-y-5 rounded-xl bg-sweater-9 p-8 text-sweater-1 xs:h-[400px] xs:max-w-[400px] 2xl:h-[500px] 2xl:max-w-[500px] 2xl:p-16"
      >
        <h4 class="font-bold text-sweater-2">About</h4>
        <p>
          Hi, I&apos;m Charles. I&apos;m a student at the University of
          Pennsylvania currently studying computer graphics and design.
        </p>
        <p>
          I&apos;m probably doing homework, sleeping, reading manga, or learning
          the bass. I love running and designing album covers. Right now
          I&apos;m really interested in game dev and web dev.
        </p>
        <p class="text-sweater-2">My resume is <Link href="/resume.pdf" newTab data-astro-reload>here.</Link> Contact info is below. Thanks for stopping by!!</p>
        <p>(〜￣▽￣)〜</p>
      </div>

      <a
        href="/projects"
        class="group col-span-2 row-span-2 flex flex-col justify-between rounded-xl bg-sweater-8 p-5 transition-colors hover:bg-sweater-7 xs:h-[194px] xs:max-w-[194px] 2xl:h-[244px] 2xl:max-w-[244px] 2xl:p-8"
      >
        <div class="flex space-x-1">
          <ArrowRightCircle
            size={28}
            class="stroke-sweater-5 transition-colors group-hover:stroke-sweater-2"
          />
          <Bug
            size={28}
            class="stroke-sweater-5 transition-colors group-hover:stroke-sweater-2"
          />
        </div>

        <p class="leading-tight text-sweater-1">
          <b>Coding stuff.</b> Projects from my classes and my random interests.
        </p>
      </a>
      <a
        href="/design"
        class="group col-span-2 row-span-2 flex flex-col justify-between rounded-xl bg-sweater-8 p-5 transition-colors hover:bg-sweater-7 xs:h-[194px] xs:max-w-[194px] 2xl:h-[244px] 2xl:max-w-[244px] 2xl:p-8"
      >
        <div class="flex space-x-1">
          <ArrowRightCircle
            size={28}
            class="stroke-sweater-5 transition-colors group-hover:stroke-sweater-2"
          />
          <PaintBucket
            size={28}
            class="stroke-sweater-5 transition-colors group-hover:stroke-sweater-2"
          />
        </div>

        <p class="leading-tight text-sweater-1">
          <b>Visual stuff.</b> Design and artwork made for myself and others.
        </p>
      </a>

      <div
        class="rounded-xl bg-sweater-8 transition-all hover:rounded-[60px] hover:bg-sweater-4"
      >
      </div>
      <div
        class="rounded-xl bg-sweater-7 transition-all hover:rounded-[60px] hover:bg-sweater-3"
      >
      </div>
      <div
        class="rounded-xl bg-sweater-6 transition-all hover:rounded-[60px] hover:bg-sweater-2"
      >
      </div>
      <div
        class="rounded-xl bg-sweater-5 transition-all hover:rounded-[60px] hover:bg-sweater-1"
      >
      </div>

      <CardMd>
        <LastFmRecent
          apiKey={import.meta.env.LASTFM_API_KEY}
          client:load
        />
      </CardMd>

      <CardMd>
        <h4 class="w-fit font-bold text-sweater-2">Last.fm profile</h4>
        <LastFmStats
          apiKey={import.meta.env.LASTFM_API_KEY}
          client:load
        />
        <LastFmWeekly
          apiKey={import.meta.env.LASTFM_API_KEY}
          client:load
        />
      </CardMd>
    </div>
  </main>
</Layout>
