---
export const prerender = false;

import LastFmRecent from "@/components/react/lastfm-recent";
import LastFmStats from "@/components/react/lastfm-stats";
import LastFmWeekly from "@/components/react/lastfm-weekly";
import { Link } from "@/components/react/link";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Charles Wang"
  description="Computer graphics student at the University of Pennsylvania."
>
  <main
    class="flex min-h-[calc(100vh-theme(spacing.footer))] items-center justify-center pt-header"
  >
    <section
      class="mx-4 my-8 max-w-[650px] space-y-16 xl:mx-0 xl:my-0 xl:grid xl:max-w-fit xl:grid-flow-col xl:auto-rows-fr xl:grid-cols-8 xl:grid-rows-4 xl:gap-3 xl:space-y-0"
    >
      <div
        class="animate-fade space-y-5 rounded-xl bg-sweater-10 text-sweater-1 [--delay:100ms] xl:col-span-4 xl:row-span-4 xl:flex xl:h-[500px] xl:w-[500px] xl:flex-col xl:justify-between xl:bg-sweater-9 xl:p-16"
      >
        <h4 class="font-mono text-sm font-bold text-sweater-2">About</h4>
        <p>
          Hi, I'm Charles. I'm a student at the University of Pennsylvania
          majoring in
          <Link
            href="http://cg.cis.upenn.edu/dmd.html"
            newTab
          >
            <>Digital Media Design</>
          </Link>, an interdisciplinary program that combines computer science,
          graphics, and design.
        </p>
        <p>
          Lately I've been running, learning bass guitar, designing album
          covers, obsessing over metro systems, and ricing my Arch setup.
        </p>
        <p class="text-sweater-2">Thanks for stopping by!</p>
        <p>(〜￣▽￣)〜</p>
      </div>

      <div
        class="animate-fade rounded-xl bg-sweater-10 text-sweater-1 [--delay:200ms] xl:col-span-4 xl:row-span-2 xl:flex xl:h-[244px] xl:w-[500px] xl:flex-col xl:justify-between xl:gap-3 xl:bg-sweater-9 xl:p-8"
      >
        <LastFmRecent client:load />
      </div>

      <div
        class="animate-fade rounded-xl bg-sweater-10 text-sweater-1 [--delay:300ms] xl:col-span-4 xl:row-span-2 xl:flex xl:h-[244px] xl:w-[500px] xl:flex-col xl:justify-between xl:gap-3 xl:bg-sweater-9 xl:p-8"
      >
        <div class="mb-5 xl:mb-0">
          <h4
            class="mb-5 w-fit font-mono text-sm font-bold text-sweater-2 xl:mb-0"
          >
            My Last.fm
          </h4><p>
            For fun and out of curiosity, I started tracking my music habits a
            few years ago.
          </p>
        </div>
        <LastFmStats client:load />
        <LastFmWeekly client:load />
      </div>
    </section>
  </main>
</Layout>
