---
export const prerender = false;

import LastFm from "@/components/lastfm.astro";
import Link from "@/components/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
import PrimitiveLayout from "@/layouts/primitive-layout.astro";
---

<PrimitiveLayout
  title="Charles Wang"
  description="Computer graphics student at the University of Pennsylvania."
>
  <MainLayout className="space-y-10">
    <section class="space-y-[1rem]">
      <h3 class="animate-fade font-bold text-sweater-2 [--delay:0ms]">About</h3>
      <p class="animate-fade [--delay:50ms]">
        Hi, my name is Charles. I'm a student at the University of Pennsylvania
        majoring in
        <Link
          href="http://cg.cis.upenn.edu/dmd.html"
          newTab
        >
          <>Digital Media Design</>
        </Link>, an interdisciplinary program that combines computer science and
        fine arts.
      </p>
      <p class="animate-fade [--delay:100ms]">
        I want to make games and build websites. To that end, I help run <Link
          href="https://pennupgrade.com"
          newTab
        >
          <>UPGRADE</>
        </Link>, Penn's game development club. I'm also a board member and
        webmaster for <Link
          href="http://cg.cis.upenn.edu/siggraph/"
          newTab
        >
          <>Penn's SIGGRAPH chapter</>
        </Link>.
      </p>
      <p class="animate-fade [--delay:150ms]">
        In my free time I like running, designing album covers, obsessing over
        rail systems, practicing bass guitar, and ricing my Arch setup.
      </p>
      <p class="animate-fade [--delay:200ms]">
        Thanks for stopping by. (〜￣▽￣)〜
      </p>
    </section>

    <section class="space-y-[1rem]">
      <h3
        class="mb-[1rem] animate-fade font-bold text-sweater-2 [--delay:150ms]"
      >
        Projects
      </h3>
    </section>

    <section class="space-y-[1rem]">
      <h3
        class="mb-[1rem] animate-fade font-bold text-sweater-2 [--delay:300ms]"
      >
        Status
      </h3>
      <LastFm />
    </section>
  </MainLayout>
</PrimitiveLayout>
