---
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Design"
  description="Visual stuff. Design and artwork made for myself and others."
>
  <main
    class="flex min-h-[calc(100vh-105px)] flex-col items-center px-7 text-sweater-1"
  >
    <section class="flex max-w-[900px] flex-col space-y-5">
      <h2 class="text-3xl font-bold text-sweater-2">Design</h2>
      <p>
        I started designing because my music library had many songs without
        artwork, and I didn&apos;t like that. This was a few years back.
        I&apos;ve been hooked ever since.
      </p>
    </section>
  </main>
</Layout>
