---
interface Props {
  published: boolean;
}

const { published } = Astro.props;
---

{
  import.meta.env.DEV ? (
    <span
      class:list={[
        "berkeley text-sweater-1 mx-1 w-fit rounded-full px-2 leading-none",
        published ? "bg-emerald-600" : "bg-red-600",
      ]}
    >
      {published ? "P" : "D"}
    </span>
  ) : null
}
