---
import { cn } from '@/utils/cn';

interface Props {
  className: string;
}

const {className} = Astro.props;
---

<div
  class={cn("col-span-4 row-span-2 flex flex-col justify-between gap-3 rounded-xl bg-sweater-9 p-5 text-sweater-1 xs:h-[194px] xs:max-w-[400px] 2xl:h-[244px] 2xl:max-w-[500px] 2xl:p-8", className)}
>
  <slot />
</div>
