---
import { cn } from "@/utils/cn";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={cn(
    "col-span-1 row-span-1 rounded-xl transition-all hover:rounded-[60px]",
    className,
  )}
>
  <slot />
</div>
