---
/**
 * https://emilkowal.ski/ui/the-magic-of-clip-path#comparison-sliders
 */

import { Image } from "astro:assets";

type ImageProps = typeof import("*.png");
interface Props {
  a: Promise<ImageProps>;
  b: Promise<ImageProps>;
}

const { a, b } = Astro.props;
---

<div class="relative overflow-hidden rounded-xl">
  <Image src={a} alt="a" class="select-none" />
  <Image src={b} alt="b" class="top-img absolute inset-0 select-none" />

  <div
    class="absolute bottom-0 left-[50%] top-0 w-[7px] cursor-col-resize rounded-full bg-red-500 hover:bg-blue-500"
  >
  </div>
</div>

<style>
  .top-img {
    clip-path: inset(0 50% 0 0);
  }
</style>
