---
interface Props {
  title: string;
  subtitle?: string | undefined;
  blurb?: string | undefined;
}

const { title, subtitle, blurb } = Astro.props;
---

<section
  class="mx-auto mb-pad-4 w-full px-pad-2 pt-pad-4 desktop:w-4/5 desktop:px-pad desktop:pt-pad-3 lg:w-(--real-header-w)"
>
  <h1 class="text-5xl font-bold text-heading">
    {title}
  </h1>

  {
    subtitle && (
      <p class="mt-1 -mb-2 text-2xl text-sweater-2 not-dark:text-sweater-7 desktop:mb-0 desktop:text-4xl">
        {subtitle}
      </p>
    )
  }

  {blurb && <p class="mt-1.5 max-w-(--content-w)">{blurb}</p>}
</section>
