---
import type { MarkdownHeading } from "astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

import Anchor from "@/components/mdx/anchor.astro";
import Aside from "@/components/mdx/aside.astro";
import H2 from "@/components/mdx/h2.astro";
import H3 from "@/components/mdx/h3.astro";
import H4 from "@/components/mdx/h4.astro";
import TableOfContents from "@/components/table-of-contents.astro";

interface Props {
  content: AstroComponentFactory;
  headings: MarkdownHeading[];
}

const { content: Content, headings } = Astro.props;
---

<section
  class="grid-line-before grid-line-after relative grid w-full grid-cols-1 toc:grid-cols-[minmax(0px,3fr)_1fr]"
>
  <div
    class="content space-y-pad-2 border-dashed border-line-dark py-pad toc:border-r-(length:--border-w)"
  >
    <Content
      components={{
        h2: H2,
        h3: H3,
        h4: H4,
        blockquote: Aside,
        a: Anchor,
      }}
    />
  </div>

  <TableOfContents headings={headings} />
</section>

<script>
  const dialogElt = document.querySelector("dialog");
  const dialogImgElt =
    document.querySelector<HTMLImageElement>("dialog > div > img");

  /**
   * @see https://cassidoo.co/post/html-dialog-on-image-click
   */
  function makeMediaZoomable() {
    // Only activate on desktop
    if (!window.matchMedia("(hover: hover)").matches) return;

    if (!dialogElt || !dialogImgElt) {
      console.error("Dialog and/or dialog image not found!");
      return;
    }

    // Add a click listener to images that are zoomable (true by default)
    document
      .querySelectorAll(".content img:not([data-no-zoom])")
      .forEach((elt) => {
        elt.addEventListener("click", () => {
          const imgElt = elt as HTMLImageElement;

          dialogImgElt.src = imgElt.src;
          dialogImgElt.srcset = imgElt.srcset;
          dialogImgElt.alt = imgElt.alt;
          dialogElt.showModal();
        });
      });

    document.addEventListener("keydown", (ev) => {
      if (ev.key === "Escape") {
        dialogImgElt.src = "";
        dialogImgElt.srcset = "";
        dialogImgElt.alt = "";
      }
    });

    dialogElt.addEventListener("click", () => {
      dialogElt.close();
      dialogImgElt.src = "";
      dialogImgElt.srcset = "";
      dialogImgElt.alt = "";
    });
  }

  makeMediaZoomable();
</script>
