---
import type { Design } from "@/utils/types";
import { Image } from "astro:assets";

interface Props {
  design: Design;
}

const { design } = Astro.props;
---

<div class="mb-5 break-inside-avoid">
  <Image
    class="rounded-lg border-sweater-8"
    src={import(`../assets/design/${design.imgName}.png`)}
    alt="art"
  />
  <p>{design.name}</p>
</div>
