---
import { ArrowUpToLineIcon, MusicIcon } from "@lucide/astro";

import LastFm from "@/components/last-fm.astro";
import { getSocials } from "@/scripts/constants";

const socials = getSocials();
---

<footer class="grid-line-before relative mt-pad-2">
  <div
    class="grid grid-cols-1 border-b-(length:--border-w) border-dashed border-line-dark 480:grid-cols-2"
  >
    <div
      aria-hidden="true"
      class="border-b-(length:--border-w) border-dashed border-line-dark 480:border-r-(length:--border-w) 480:border-b-0"
    >
    </div>

    <a
      href="#"
      class="group flex items-center justify-between p-pad transition-colors hover:bg-line-dark"
    >
      <span
        class="translate-y-0.5 font-bold text-link-secondary transition-colors group-hover:text-link-secondary-hover"
      >
        Back to top
      </span>
      <ArrowUpToLineIcon size={18} class="stroke-icon" />
    </a>
  </div>

  <div
    class="grid grid-cols-1 grid-rows-[auto_auto] *:border-dashed *:border-line-dark 480:grid-cols-2"
  >
    <div
      aria-hidden="true"
      class="hidden border-r-(length:--border-w) border-b-(length:--border-w) 480:block"
    >
    </div>

    <div
      class="grid grid-cols-2 border-b-(length:--border-w) *:border-dashed *:border-line-dark"
    >
      {
        socials.map(({ href, label, icon: Icon }, index) => (
          <a
            href={href}
            target="_blank"
            class:list={[
              "group flex items-center justify-between p-pad transition-colors hover:bg-line-bright",
              // Render dashed lines
              index < 2 ? "border-b-(length:--border-w)" : null,
              index % 2 === 0 ? "border-r-(length:--border-w)" : null,
            ]}
          >
            <span class="font-bold text-link-primary transition-colors group-hover:text-link-primary-hover">
              {label}
            </span>
            <Icon size={18} class="stroke-icon" />
          </a>
        ))
      }
    </div>

    <div
      class="grid-line-after px-pad pt-pad pb-3.5 maple leading-none 480:border-r-(length:--border-w)"
    >
      <LastFm server:defer>
        <a
          href="https://www.last.fm/user/ashzw"
          target="_blank"
          class="flex gap-2 pill"
          data-quiet="true"
          slot="fallback"
        >
          <MusicIcon size={15} class="inline" /> Scrobbles
        </a>
      </LastFm>
    </div>
  </div>
</footer>
