---
import { Link } from "@/components/react/link";
import { Github, Linkedin, Mail } from "lucide-astro";

let phrase = "soitgoes";
const offset = Math.floor(Math.random() * phrase.length);
phrase = phrase.slice(offset) + phrase.slice(0, offset);
---

<footer class="flex w-full items-center justify-between bg-sweater-10 p-4">
  <span class="flex items-center space-x-4">
    <Link
      href="https://www.linkedin.com/in/zwcharl/"
      title="LinkedIn"
      newTab
    >
      <Linkedin />
    </Link>
    <Link
      href="https://www.github.com/aczw"
      title="GitHub"
      newTab
    >
      <Github />
    </Link>
    <Link
      href="mailto:zwcharl@gmail.com"
      title="Email"
    >
      <Mail />
    </Link>
  </span>
  <p class="font-mono text-sm text-sweater-3">
    <i id="scroll">{phrase}</i> 👾
  </p>
</footer>

<script>
  setInterval(() => {
    const scroll = document.getElementById("scroll");
    const text = scroll!.textContent;
    scroll!.textContent = text!.slice(1) + text![0];
  }, 400);
</script>
