---
import Link from "@/components/link.astro";
import { Github, Linkedin, Mail } from "lucide-astro";

const iconSize = 22;
---

<footer class="content:pb-10 mx-auto max-w-content bg-sweater-10 px-4 pb-4">
  <span
    class="flex items-center justify-between border-t-2 border-sweater-9 pt-4"
  >
    <div class="flex items-center space-x-4">
      <Link
        href="https://www.linkedin.com/in/zwcharl/"
        title="LinkedIn"
        newTab
      >
        <Linkedin size={iconSize} />
      </Link>

      <Link
        href="https://www.github.com/aczw"
        title="GitHub"
        newTab
      >
        <Github size={iconSize} />
      </Link>

      <Link
        href="mailto:zwcharl@gmail.com"
        title="Email"
      >
        <Mail size={iconSize} />
      </Link>
    </div>
    <p
      id="scroll"
      class="font-mono text-sm italic text-sweater-7"
      aria-hidden="true"
    >
    </p>
  </span>
</footer>

<script>
  let fun = [
    "soitgoes",
    "aczw",
    "newfaces",
    "doitagain",
    "tilinfinity",
    "suboptimal",
    "theendisnever",
    "promiseme",
    "allitcosts",
  ];

  let pick = fun[Math.floor(Math.random() * fun.length)];
  let offset = Math.floor(Math.random() * pick.length);

  document.getElementById("scroll")!.textContent =
    pick.slice(offset) + pick.slice(0, offset);

  setInterval(() => {
    let scroll = document.getElementById("scroll");
    let text = scroll!.textContent;
    scroll!.textContent = text!.slice(1) + text![0];
  }, 500);
</script>
