---
import { CircleArrowUpIcon, MapPinIcon, MusicIcon } from "@lucide/astro";

import LastFm from "@/components/last-fm.astro";
import Link from "@/components/link.astro";
import { stripEndingSlash } from "@/scripts/util";
import { getSocials } from "@/scripts/constants";

const path = stripEndingSlash(Astro.url.pathname);
const sections = path
  .split("/")
  .filter((section) => section.length > 0)
  .slice(0, -1);

const socials = getSocials();
---

<footer class="grid-line-before relative mt-pad-2">
  <div
    class="grid grid-cols-1 border-b-(length:--border-w) border-dashed border-line-dark 480:grid-cols-2"
  >
    <div
      class:list={[
        "border-b-(length:--border-w) border-dashed border-line-dark 480:border-r-(length:--border-w) 480:border-b-0",
        path !== "" ? "flex items-center justify-between p-pad maple" : null,
      ]}
    >
      {
        path !== "" ?
          <>
            <div class="flex items-center gap-2">
              <Link href="/">~</Link>

              {sections.map((section, index) => {
                let href = "";
                for (let i = 0; i < index + 1; ++i) {
                  href += "/" + sections[index];
                }

                return (
                  <>
                    <span class="cursor-default text-sweater-6">/</span>
                    <Link href={href}>{section}</Link>
                  </>
                );
              })}

              <span class="cursor-default text-sweater-6">/ here</span>
            </div>

            <MapPinIcon size={18} class="stroke-sweater-6" />
          </>
        : null
      }
    </div>

    <a
      href="#"
      class="group flex items-center justify-between p-pad transition-colors hover:bg-line-dark"
    >
      <span
        class="translate-y-0.5 font-bold text-sweater-5/80 transition-colors group-hover:text-sweater-4"
      >
        Back to top
      </span>
      <CircleArrowUpIcon size={18} class="stroke-sweater-6" />
    </a>
  </div>

  <div
    class="grid grid-cols-1 grid-rows-[auto_auto] *:border-dashed *:border-line-dark 480:grid-cols-2"
  >
    <div
      aria-hidden="true"
      class="hidden border-r-(length:--border-w) border-b-(length:--border-w) 480:block"
    >
    </div>

    <div
      class="grid grid-cols-2 border-b-(length:--border-w) *:border-dashed *:border-line-dark"
    >
      {
        socials.map(({ href, label, icon: Icon }, index) => (
          <a
            href={href}
            target="_blank"
            class:list={[
              "group flex items-center justify-between p-pad transition-colors hover:bg-line-bright",
              // Render dashed lines
              index < 2 ? "border-b-(length:--border-w)" : null,
              index % 2 === 0 ? "border-r-(length:--border-w)" : null,
            ]}
          >
            <span class="font-bold text-sweater-3 transition-colors group-hover:text-sweater-1">
              {label}
            </span>
            <Icon size={18} class="stroke-sweater-6" />
          </a>
        ))
      }
    </div>

    <div
      class="grid-line-after px-pad pt-pad pb-3.5 maple leading-none 480:border-r-(length:--border-w)"
    >
      <LastFm server:defer>
        <a
          href="https://www.last.fm/user/ashzw"
          target="_blank"
          class="flex gap-2 pill"
          data-quiet="true"
          slot="fallback"
        >
          <MusicIcon size={15} class="inline" /> Scrobbles
        </a>
      </LastFm>
    </div>
  </div>
</footer>
