---
import {
  ArrowUpToLineIcon,
  MusicIcon,
  FileUserIcon,
  LinkedinIcon,
  GithubIcon,
  MailIcon,
} from "@lucide/astro";

import LastFm from "@/components/last-fm.astro";
import { ICON_SIZE } from "@/scripts/constants";

const socials = [
  { href: "/_files/resume.pdf", label: "Resume", icon: FileUserIcon },
  {
    href: "https://linkedin.com/in/zwcharl",
    label: "LinkedIn",
    icon: LinkedinIcon,
  },
  { href: "https://github.com/aczw", label: "GitHub", icon: GithubIcon },
  { href: "mailto:zwcharl@gmail.com", label: "Email", icon: MailIcon },
];
---

<footer class="grid-line-before relative">
  <div
    class="grid grid-cols-1 border-b-(length:--border-w) border-style 480:grid-cols-2"
  >
    <div
      aria-hidden="true"
      class="border-b-(length:--border-w) border-style 480:border-r-(length:--border-w) 480:border-b-0"
    >
    </div>

    <a
      href="#"
      class="group hover:bg-line-dark flex items-center justify-between p-pad transition-colors"
    >
      <span
        class="translate-y-0.5 font-bold text-link-secondary transition-colors group-hover:text-link-secondary-hover"
      >
        Back to top
      </span>
      <ArrowUpToLineIcon size={ICON_SIZE} class="stroke-icon" />
    </a>
  </div>

  <div
    class="*: grid grid-cols-1 grid-rows-[auto_auto] *:border-style 480:grid-cols-2"
  >
    <div
      aria-hidden="true"
      class="hidden border-r-(length:--border-w) border-b-(length:--border-w) 480:block"
    >
    </div>

    <div
      class="*: grid grid-cols-2 border-b-(length:--border-w) *:border-style"
    >
      {
        socials.map(({ href, label, icon: Icon }, index) => (
          <a
            href={href}
            target="_blank"
            class:list={[
              "group hover:bg-line-bright flex items-center justify-between p-pad transition-colors",
              // Render dashed lines
              index < 2 ? "border-b-(length:--border-w)" : null,
              index % 2 === 0 ? "border-r-(length:--border-w)" : null,
            ]}
          >
            <span class="font-bold text-link-primary transition-colors group-hover:text-link-primary-hover">
              {label}
            </span>
            <Icon size={ICON_SIZE} class="stroke-icon" />
          </a>
        ))
      }
    </div>

    <div
      class="grid-line-after px-pad pt-pad pb-3.5 maple leading-none 480:border-r-(length:--border-w)"
    >
      <LastFm server:defer>
        <a
          href="https://www.last.fm/user/ashzw"
          target="_blank"
          class="flex gap-2 rounded-full bg-sweater-9 px-3 py-1.5 text-link-primary transition-colors not-dark:bg-sweater-2 hover:bg-sweater-8 hover:text-link-primary-hover not-dark:hover:bg-sweater-3"
          data-quiet="true"
          slot="fallback"
        >
          <MusicIcon size={15} class="inline" /> Scrobbles
        </a>
      </LastFm>
    </div>
  </div>
</footer>
