---
import type { HTMLAttributes } from "astro/types";

import Eye from "@/components/eye.astro";
import Slash from "@/components/slash.astro";

type Link = { href: string; text: string };

type Props = HTMLAttributes<"header"> & {
  links: Link[];
};

const { links, class: className, ...props } = Astro.props;
---

<header
  class:list={[
    "mx-auto w-full px-pad-2 pt-pad-2 desktop:mt-10 desktop:w-4/5 desktop:p-pad lg:w-(--real-header-w)",
    className,
  ]}
  {...props}
>
  <nav class="flex items-start gap-x-1.75 leading-[0.9] font-bold">
    <a href="/" title="Home" aria-label="Go to homepage" class="block">
      <Eye
        aria-hidden="true"
        class="fill-link-primary transition-[fill_rotate] hover:-rotate-13 hover:fill-link-primary-hover"
      />
    </a>

    <Slash class="text-[2.2rem]" />

    {
      links.map(({ href, text }) => (
        <>
          <a
            href={href}
            class="text-[2.2em] text-link-primary transition-colors hover:text-link-primary-hover"
          >
            {text}
          </a>
          <Slash class="text-[2.2rem]" />
        </>
      ))
    }
  </nav>
</header>
