---
import Link from "@/components/link.astro";
import Logo from "@/components/logo.astro";

const logoSize = 26;
---

<header class="mx-auto max-w-content bg-sweater-10 px-4 pt-4 content:pt-10">
  <nav class="flex items-center justify-between border-b-2 border-sweater-9 pb-4">
    <a
      href="/"
      class="group"
    >
      <Logo
        width={logoSize}
        height={logoSize}
        alt="Charles Wang"
        className="fill-sweater-4 transition group-hover:rotate-[-15deg] group-hover:fill-sweater-1"
      />
    </a>

    <div class="flex items-center space-x-6 pl-6">
      <Link
        href="/projects"
        className="flex items-center"
      >
        Projects
      </Link>

      <a
        href="/resume.pdf"
        target="_blank"
        class="flex items-center rounded-full bg-sweater-4 px-2.5 py-0.5 text-sweater-9 transition-colors hover:bg-sweater-2"
      >
        Resume
      </a>
    </div>
  </nav>
</header>
