---
import Button from "@/components/button.astro";
import Logo from "@/components/logo.astro";
import { Link } from "@/components/react/link";

const { pathname } = Astro.url;
---

<header class="w-full bg-sweater-10 p-7">
  <nav class="flex items-center justify-between">
    <a href="/">
      <Logo
        width={30}
        height={30}
        alt="Go to home"
        className="fill-sweater-4 hover:rotate-[-10deg] hover:fill-sweater-1 transition"
      />
    </a>
    <div class="flex items-center space-x-6">
      <Link
        href="/projects"
        className={pathname === "/projects"
          ? "text-sweater-1 decoration-sweater-1/50 hover:text-sweater-4 hover:decoration-sweater-4"
          : ""}
      >
        Projects
      </Link>
      <Link
        href="/design"
        className={pathname === "/design"
          ? "text-sweater-1 decoration-sweater-1/50 hover:text-sweater-4 hover:decoration-sweater-4"
          : ""}
      >
        Design
      </Link>
      <Button>
        <a
          href="/resume.pdf"
          target="_blank"
          class="text-sweater-9"
          >Resume</a
        >
      </Button>
    </div>
  </nav>
</header>
