---
import api from "@/utils/api";

interface LastFmRecentTracks {
  recenttracks: {
    track: {
      artist: {
        mbid: string;
        "#text": string;
      };
      streamable: string;
      image: {
        size: "small" | "medium" | "large" | "extralarge";
        "#text": string;
      }[];
      mbid: string;
      album: {
        mbid: string;
        "#text": string;
      };
      name: string;
      "@attr"?: {
        nowplaying: "true" | "false";
      };
      url: string;
    }[];
    "@attr": {
      user: string;
      totalPages: string;
      page: string;
      perPage: string;
      total: string;
    };
  };
}

const { recenttracks: recent } = await api<LastFmRecentTracks>(
  `https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=ashzw&api_key=${
    import.meta.env.LASTFM_API_KEY
  }&limit=1&format=json`,
);

const firstTrack = recent.track[0];
const nowPlaying = firstTrack["@attr"]
  ? firstTrack["@attr"].nowplaying === "true"
  : false;
---

<div
  class="col-span-4 row-span-2 flex flex-col justify-between space-y-5 rounded-xl bg-sweater-9 p-5 text-sweater-1 xs:h-[194px] xs:max-w-[400px] 2xl:h-[244px] 2xl:max-w-[500px] 2xl:p-8"
>
  <div class="flex flex-col">
    <h4 class="w-fit font-bold text-sweater-2">
      {nowPlaying ? "Currently playing" : "Last listened to"}
    </h4><p>
      {
        nowPlaying
          ? "I'm listening to this song right now!!"
          : "This is the last song I played."
      }
    </p>
  </div>

  <div class="flex grow items-center space-x-5">
    <img
      src={firstTrack.image[2]["#text"]}
      alt={`Song cover for ${firstTrack.name}`}
      class="h-[80px] w-[80px] rounded bg-sweater-8 2xl:h-[110px] 2xl:w-[110px]"
    /><div class="flex flex-col">
      <a
        href={firstTrack.url}
        target="_blank"
        class="w-fit text-sweater-3 transition-colors hover:text-sweater-1 hover:underline xs:line-clamp-1"
        >{firstTrack.name}</a
      >
      <p class="xs:line-clamp-1">
        by {firstTrack.artist["#text"]}
      </p>
      <p class="xs:line-clamp-1">
        from {firstTrack.album["#text"]}
      </p>
    </div>
  </div>
</div>
