---
import { GET, type Track } from "@/pages/lastfm.json";
import { Music } from "lucide-astro";

const response = await GET(Astro);
const track = (await response.json()) as Track;
---

<div class="w-1/2 animate-fade [--order:0]">
  <a
    href="https://www.last.fm/user/ashzw"
    target="_blank"
    class="w-fit text-sweater-6 underline decoration-sweater-8 decoration-1 underline-offset-2 transition-colors hover:text-sweater-5 hover:decoration-sweater-6"
  >
    <Music
      size={14}
      class="mr-1.5 inline shrink-0"
    />{track.song} — {track.artist}
  </a>
</div>
@/pages/lastfm
