---
import { GET, type Track } from "@/pages/api/last-fm.json";
import { Music } from "lucide-astro";

let response = await GET(Astro);
let track = response.ok ? ((await response.json()) as Track) : null;
const available = track !== null;
---

<div class="w-1/2 animate-fade [--order:0]">
  <a
    href={available
      ? "https://www.last.fm/user/ashzw"
      : "https://open.spotify.com/user/zhwq0rxdn060sgar22e07u193?si=3cfe23a176bf4272"}
    target="_blank"
    class="pill flex w-fit"
    data-quiet
  >
    <Music size={15} class="ml-2 mr-2.5 inline shrink-0 xs:ml-0" />

    <span class="line-clamp-1 hidden w-full break-all leading-none xs:[display:-webkit-box]">
      {available ? `${track.song} — ${track.artist}` : "Playlists"}
    </span>
  </a>
</div>
