---
import Link from "@/components/link.astro";
import { getRecentTracks } from "@/utils/lastfm";

const recentTracks = await getRecentTracks();
const firstTrack = recentTracks.track[0];
const nowPlaying = firstTrack["@attr"]
  ? firstTrack["@attr"].nowplaying === "true"
  : false;
---

<p class="animate-fade [--delay:0ms]">
  {
    firstTrack ? (
      <>
        {nowPlaying ? (
          <>
            I am listening to {firstTrack.name} by {firstTrack.artist["#text"]}{" "}
            at this very moment.
          </>
        ) : (
          <>
            The last song I listened to was {firstTrack.name} by{" "}
            {firstTrack.artist["#text"]}.
          </>
        )}{" "}
        <Link
          href="https://www.last.fm/user/ashzw"
          newTab
        >
          <>Check</>
        </Link>{" "}
        it out.
      </>
    ) : (
      <>
        Tracking my music listening habits is pretty neat. Visit my{" "}
        <Link
          href="https://www.last.fm/user/ashzw"
          newTab
        >
          <>Last.fm profile</>
        </Link>{" "}
        to see my history.
      </>
    )
  }
</p>
