---
import { GET, type Track } from "@/pages/api/last-fm";
import { Music } from "lucide-astro";

const response = await GET(Astro);
const track = response.ok ? ((await response.json()) as Track) : null;
const available = track !== null;
---

<div class="w-1/2 animate-fade [--order:0]">
  <a
    href={available
      ? "https://www.last.fm/user/ashzw"
      : "https://open.spotify.com/user/zhwq0rxdn060sgar22e07u193?si=3cfe23a176bf4272"}
    target="_blank"
    class="w-fit text-sweater-7 underline decoration-sweater-8 decoration-1 underline-offset-2 transition-colors hover:text-sweater-6 hover:decoration-sweater-6"
  >
    <Music
      size={14}
      class="mr-1.5 inline shrink-0"
    /><span class="hidden xs:inline"
      >{available ? `${track.song} — ${track.artist}` : "Playlists"}</span
    ><span class="xs:hidden"
      >{available ? (track.live ? "Playing..." : "Last played") : "Playlists"}</span
    >
  </a>
</div>
