---
import type { HTMLAttributes } from "astro/types";
import { ArrowUpRight } from "lucide-astro";

interface Props extends Omit<HTMLAttributes<"a">, "class" | "aria-label"> {
  className?: string;
}

const { className, target, ...attrs } = Astro.props;

// partially taken from https://github.com/bdsqqq/igorbedesqui.com/blob/1aaf4c14f1de110ff00cf4a0db1a1f3d13d18193/components/ui/StyledLink.tsx#L49
---

<a
  target={target}
  aria-label={attrs.title}
  class:list={[
    "w-fit text-sweater-3 underline decoration-sweater-3/50 decoration-1 underline-offset-2 transition hover:text-sweater-1 hover:decoration-sweater-1",
    className,
  ]}
  {...attrs}
  ><slot />{
    target === "_blank" ? (
      // prettier-ignore
      <span class="whitespace-nowrap"><ArrowUpRight size={14} class="inline align-baseline" /></span>
    ) : null
  }</a
>
