---
import type { Portfolio } from "@/utils/types";
import { Image } from "astro:assets";

interface Props {
  portfolio: Portfolio;
  index: number;
}

const { portfolio, index } = Astro.props;
---

<li
  class="group relative animate-fade"
  style={{ "--delay": `${(index + 1) * 15}ms` }}
>
  <Image
    class="mb-5 rounded-lg border-sweater-8 bg-sweater-9 transition-opacity group-hover:opacity-80"
    src={import(`../assets/portfolio/${portfolio.imgName}.png`)}
    alt={portfolio.name}
  />
  <span
    class="absolute inset-0 flex flex-col items-center justify-end bg-gradient-to-t from-sweater-10 p-5 opacity-0 transition-opacity group-hover:opacity-100"
  >
    <h4 class="text-center font-mono text-sm font-bold text-sweater-2">
      {portfolio.name}
    </h4>
    <p class="text-sweater-1">{portfolio.date}</p>
  </span>
</li>
