---
import { Pause, Play } from "lucide-astro";
---

<project-cover-controls class="motion-reduce:hidden"
  ><button
    id="project-cover-controls"
    class="pill leading-none *:items-center *:gap-1.5"
    title="Pause the videos playing on this page"
    data-quiet
    ><p id="pause" class="flex">
      <span class="hidden xs:inline">Pause</span><Pause size={16} />
    </p><p id="play" class="hidden">
      <span class="hidden xs:inline">Play</span><Play size={16} />
    </p></button
  ></project-cover-controls
>

<script>
  // Invariant: only one controls button exists per page, otherwise this constructor would
  // be called multiple times which is bad: pause/play state is not synced between buttons.
  //
  // Invariant: we begin with the video playing (so button reads "Pause")
  class ProjectCoverControls extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button")!;
      const projectCovers = document.querySelectorAll<HTMLDivElement>("div.project-cover")!;
      const pause = this.querySelector("#pause")!;
      const play = this.querySelector("#play")!;

      button.addEventListener("click", () => {
        projectCovers.forEach((elt) => {
          elt.style["opacity"] = Number(elt.style["opacity"]) < 100 ? "100" : "0";
        });

        if (pause.classList.contains("flex")) {
          pause.classList.replace("flex", "hidden");
          play.classList.replace("hidden", "flex");
          button.title = "Play videos on this page";
        } else {
          play.classList.replace("flex", "hidden");
          pause.classList.replace("hidden", "flex");
          button.title = "Pause the videos playing on this page";
        }
      });
    }
  }

  customElements.define("project-cover-controls", ProjectCoverControls);
</script>
