---
import { BoxesIcon, InfoIcon, FeatherIcon, ToolCaseIcon } from "@lucide/astro";

import { ICON_SIZE } from "@/scripts/constants";
import MusicIndicator from "@/components/music-indicator.astro";
---

<div
  class="grid grid-cols-2 bordered text-lg leading-none font-bold *:flex *:items-center *:justify-between *:gap-pad *:p-pad *:text-link-primary *:transition-colors *:hover:bg-line *:hover:text-link-primary-hover"
>
  <a
    href="/projects"
    class="border-r-(length:--border-w) border-b-(length:--border-w) border-style"
  >
    Portfolio <ToolCaseIcon size={ICON_SIZE} class="stroke-icon" />
  </a>
  <a href="/posts" class="border-b-(length:--border-w) border-style">
    Writing <FeatherIcon size={ICON_SIZE} class="stroke-icon" />
  </a>
  <a href="/archive" class="border-r-(length:--border-w) border-style">
    Archive <BoxesIcon size={ICON_SIZE} class="stroke-icon" />
  </a>
  <a href="/about">
    About <MusicIndicator server:defer>
      <InfoIcon slot="fallback" size={ICON_SIZE} class="stroke-icon" />
    </MusicIndicator>
  </a>
</div>
