<Fragment>
  {
    import.meta.env.DEV ?
      <div
        aria-hidden="true"
        class="fixed right-pad-2 bottom-pad-2 z-9999 w-fit cursor-default rounded-xl bg-sweater-8 px-4 py-2 maple light:bg-sweater-3"
      >
        <span class="hidden 2xl:inline">2XL ({">="}1536px)</span>
        <span class="hidden xl:inline 2xl:hidden">XL ({">="}1280px)</span>
        <span class="hidden lg:inline xl:hidden">LG ({">="}1024px)</span>
        <span class="hidden md:inline lg:hidden">MD ({">="}768px)</span>
        <span class="hidden sm:inline md:hidden">SM ({">="}640px)</span>
        <span class="hidden desktop:inline sm:hidden">
          DESKTOP ({">="}480px)
        </span>
        <span class="desktop:hidden">MOBILE ({"<"} 480px)</span>
      </div>
    : null
  }
</Fragment>
