---
import Slash from "@/components/slash.astro";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"li"> & {
  tech: string[];
};

const { tech: techList, class: className, ...props } = Astro.props;
---

<ul class:list={["flex flex-wrap gap-x-1", className]} {...props}>
  {
    techList.map((tech, index) => (
      <li>
        {tech}
        {index !== techList.length - 1 ?
          <Slash class="leading-none" />
        : null}
      </li>
    ))
  }
</ul>
