---
import projectsJson from "@/assets/projects/projects.json";
import ProjectCard from "@/components/project-card.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Projects • Charles Wang"
  description="Coding stuff. Projects from my classes and random interests."
>
  <main
    class="mx-auto w-full max-w-[1300px] columns-1 gap-8 px-4 pb-8 pt-[calc(theme(spacing.header)+theme(spacing.8))] text-sweater-1 sm:columns-2 lg:gap-16"
  >
    {
      projectsJson.map((project, index) => (
        <ProjectCard
          project={project}
          index={index}
        />
      ))
    }
  </main>
</Layout>
