---
import projectsJson from "@/assets/projects/projects.json";
import ProjectCard from "@/components/project-card.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Projects • Charles Wang"
  description="Coding stuff. Projects from my classes and random interests."
>
  <main
    class="flex min-h-[calc(100vh-105px)] flex-col items-center px-7 text-sweater-1"
  >
    <section class="flex max-w-[1100px] flex-col">
      <ul class="flex flex-col space-y-6">
        {
          projectsJson.map((project, index) => (
            <ProjectCard
              project={project}
              index={index}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
