---
import projectsJson from "@/assets/projects/projects.json";
import ProjectCard from "@/components/project-card.astro";
import { Link } from "@/components/react/link";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Projects • Charles Wang"
  description="Coding stuff. Projects from my classes and random interests."
>
  <main
    class="flex min-h-[calc(100vh-105px)] flex-col items-center px-7 text-sweater-1"
  >
    <p class="mb-7 w-full max-w-[850px]">
      I try to make all my projects open source and publicly available on my
      <Link
        href="https://github.com/aczw"
        newTab
      >
        GitHub.
      </Link>
       Stuff that doesn&apos;t have a link is probably from a class and I
      don&apos;t have permission to share it, sorry.
    </p>
    <ul class="flex max-w-[1100px] flex-col space-y-7">
      {
        projectsJson.map((project, index) => (
          <ProjectCard
            project={project}
            index={index}
          />
        ))
      }
    </ul>
  </main>
</Layout>
