---
const { class: className, ...props } = Astro.props;
---

<div
  class:list={[
    "space-y-pad-2 border-l-(length:--border-w) border-dashed border-sweater-7 pl-pad-2 text-sweater-3 light:border-sweater-4 light:text-sweater-7",
    className,
  ]}
  {...props}
>
  <slot />
</div>
