---
import { ChevronRightIcon } from "@lucide/astro";

import { ICON_SIZE } from "@/scripts/constants";
---

<aside class="flex gap-pad text-subtitle" {...Astro.props}>
  <ChevronRightIcon
    aria-hidden="true"
    size={ICON_SIZE}
    class="shrink-0 stroke-icon"
  />
  <div class="space-y-pad"><slot /></div>
</aside>
