---
import type { HTMLAttributes } from "astro/types";

import { HashIcon } from "@lucide/astro";

import { ICON_SIZE } from "@/scripts/constants";

type Props = HTMLAttributes<"h2">;

const { id, ...props } = Astro.props;
---

<h2
  id={id}
  class="scroll-mt-pad pt-pad text-xl leading-tight font-bold text-link-primary"
  {...props}
>
  <a
    href={`#${id}`}
    class="flex items-center justify-between gap-pad transition-colors hover:text-link-primary-hover"
  >
    <slot />
    <HashIcon size={ICON_SIZE} class="stroke-icon" aria-hidden="true" />
  </a>
</h2>
