---
import { type HTMLAttributes } from "astro/types";

import { Hash } from "lucide-astro";

type Props = HTMLAttributes<"h2">;

let { id, ...props } = Astro.props;
---

<h2 id={id} class="w-fit text-lg first:scroll-mt-9 [&:not(:first-child)]:pt-9" {...props}>
  <a href={`#${id}`} class="group relative flex items-center gap-1.5 content:-ml-3 content:pl-3">
    <slot />

    <Hash
      size={16}
      class="stroke-transparent transition-colors group-hover:stroke-sweater-5 content:absolute content:-left-3"
      aria-hidden="true"
    />
  </a>
</h2>
