---
import { type HTMLAttributes } from "astro/types";
import { Hash } from "lucide-astro";

type Props = HTMLAttributes<"h2">;

const { id, ...props } = Astro.props;
---

<h2
  id={id}
  class="pt-8 text-lg text-sweater-2 first:pt-0"
  {...props}
>
  <a
    href={`#${id}`}
    class="group relative -ml-2 flex w-fit items-center gap-1.5 pl-2"
  >
    <slot />
    <Hash
      size={14}
      class="stroke-transparent transition-colors group-hover:stroke-sweater-5 wide:absolute wide:-left-4"
      aria-hidden="true"
    />
  </a>
</h2>
