---
import type { HTMLAttributes } from "astro/types";

import { HashIcon } from "@lucide/astro";

type Props = HTMLAttributes<"h2">;

const { id, ...props } = Astro.props;
---

<h2 id={id} class="w-fit text-lg not-first:pt-9 first:scroll-mt-9" {...props}>
  <a
    href={`#${id}`}
    class="group relative flex items-center gap-1.5 rounded-r-lg pr-2 transition-colors hover:bg-sweater-9 heading:-ml-3 heading:pl-3"
  >
    <slot />

    <HashIcon
      size={16}
      class="stroke-transparent transition-colors group-hover:stroke-sweater-5 heading:absolute heading:-left-3"
      aria-hidden="true"
    />
    <div
      aria-hidden="true"
      class="absolute -left-2 z-[-1] size-[26px] rounded-l-lg transition-colors group-hover:bg-sweater-9 heading:-left-4"
    >
    </div>
  </a>
</h2>
