---
import { type HTMLAttributes } from "astro/types";

import { Hash } from "lucide-astro";

type Props = HTMLAttributes<"h3">;

let { id, ...props } = Astro.props;
---

<h3 id={id} class="w-fit scroll-mt-6" {...props}>
  <a
    href={`#${id}`}
    class="normal:-ml-3 normal:pl-3 group relative flex items-center gap-1.5 rounded-r-lg pr-2 transition-colors hover:bg-sweater-9"
  >
    <slot />

    <Hash
      size={14}
      class="normal:absolute normal:-left-3 stroke-transparent transition-colors group-hover:stroke-sweater-5"
      aria-hidden="true"
    />
    <div
      aria-hidden="true"
      class="normal:-left-4 absolute -left-2 z-[-1] size-[23px] rounded-l-lg transition-colors group-hover:bg-sweater-9"
    >
    </div>
  </a>
</h3>
