---
import type { HTMLAttributes } from "astro/types";

import { HashIcon } from "@lucide/astro";

type Props = HTMLAttributes<"h3">;

const { id, ...props } = Astro.props;
---

<h3
  id={id}
  class="border-t-(length:--border-w) border-dashed border-line-dark pt-pad leading-snug font-bold text-link-primary transition-colors hover:text-link-primary-hover"
  {...props}
>
  <a href={`#${id}`} class="flex items-center justify-between gap-pad">
    <slot />
    <HashIcon size={16} class="stroke-icon" aria-hidden="true" />
  </a>
</h3>
