---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h3">;

const { id, ...props } = Astro.props;
---

<h3
  id={id}
  class="scroll-mt-pad font-bold text-link-primary transition-colors hover:text-link-primary-hover"
  {...props}
>
  <a href={`#${id}`} class="block w-full">
    <slot />
  </a>
</h3>
