---
import { type HTMLAttributes } from "astro/types";

import { Hash } from "lucide-astro";

type Props = HTMLAttributes<"h3">;

let { id, ...props } = Astro.props;
---

<h3 id={id} class="w-fit scroll-mt-6" {...props}>
  <a
    href={`#${id}`}
    class="group relative flex items-center gap-1.5 rounded-r-lg pr-2 transition-colors hover:bg-sweater-9 content:-ml-3 content:pl-3"
  >
    <slot />

    <Hash
      size={14}
      class="stroke-transparent transition-colors group-hover:stroke-sweater-5 content:absolute content:-left-3"
      aria-hidden="true"
    />
    <div
      aria-hidden="true"
      class="absolute -left-2 z-[-1] size-[23px] rounded-l-lg transition-colors group-hover:bg-sweater-9 content:-left-4"
    >
    </div>
  </a>
</h3>
