---
import type { HTMLAttributes } from "astro/types";

import { HashIcon } from "@lucide/astro";

type Props = HTMLAttributes<"h4">;

const { id, ...props } = Astro.props;
---

<h4
  id={id}
  class="scroll-mt-pad leading-snug font-bold text-link-primary"
  {...props}
>
  <a
    href={`#${id}`}
    class="flex items-center justify-between gap-pad transition-colors hover:text-link-primary-hover"
  >
    <slot />
    <HashIcon size={14} class="stroke-icon" aria-hidden="true" />
  </a>
</h4>
