---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h4">;

const { id, ...props } = Astro.props;
---

<h4
  id={id}
  class="scroll-mt-pad leading-snug font-bold text-link-primary transition-colors hover:text-link-primary-hover"
  {...props}
>
  <a href={`#${id}`} class="block w-full">
    <slot />
  </a>
</h4>
