@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fade-speed: 100ms;
    @apply [--header-h:210px] xs:[--header-h:147.38px] sm:[--header-h:150px];
  }

  html {
    font-size: 15px;
    @apply scroll-smooth bg-sweater-10 text-sweater-1;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-sweater-2;
  }

  img {
    @apply italic;
  }

  /* Only style elements rendered from MDX */
  article > .mdx-span-normal {
    & img,
    video {
      @apply w-full rounded-xl bg-sweater-9;
    }

    /* Inline code should have some padding and unique background color */
    & code {
      @apply break-words rounded-md bg-sweater-9 px-1 py-0.5 text-[13px] font-[100];
    }

    /* Treat inline code differently inside callouts (but this way utilities can still override it) */
    & aside {
      & code {
        @apply bg-sweater-8;
      }
    }

    & del {
      @apply cursor-not-allowed text-sweater-6 line-through;
    }

    & li {
      @apply break-words pl-2.5;
    }

    & ul,
    ol {
      @apply ml-5 list-outside space-y-2;

      ::marker {
        @apply tabular-nums text-sweater-4;
      }
    }

    & ul {
      list-style-type: "➔";
    }

    & ol {
      list-style-type: decimal;
    }

    /* Only select <figure> elements not from the Expressive Code library */
    & figcaption {
      @apply subtitle mt-2 text-[0.9rem];
    }

    & a {
      text-wrap: pretty;
    }
  }

  .mdx-span-normal > * {
    @apply toc:col-[3] col-[2];
  }

  @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/_fonts/AtkinsonHyperlegible-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url("/_fonts/AtkinsonHyperlegible-Italic.woff") format("woff");
  }

  @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("/_fonts/AtkinsonHyperlegible-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: url("/_fonts/AtkinsonHyperlegible-BoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Berkeley Mono Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 150;
    src: url("/_fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2-variations");
  }

  @font-face {
    font-family: "Berkeley Mono Variable";
    font-style: italic;
    font-display: swap;
    font-weight: 100 150;
    src: url("/_fonts/BerkeleyMonoVariable-Italic.woff2") format("woff2-variations");
  }
}

@layer components {
  .pill {
    @apply rounded-full bg-sweater-4 px-3 py-1.5 text-sweater-9 transition-colors hover:bg-sweater-3;
  }

  .pill[data-quiet="true"] {
    @apply bg-sweater-9 text-sweater-4 hover:bg-sweater-8 hover:text-sweater-3;
  }
}

@layer utilities {
  .berkeley {
    font-size: 13.5px;
    font-weight: 120;
    @apply font-mono;
  }

  .subtitle {
    @apply text-sweater-2/85;
  }

  .span-normal {
    @apply mx-auto max-w-normal px-8;
  }

  .span-wide {
    @apply mx-auto max-w-wide px-8;
  }

  .span-height {
    @apply min-h-[calc(100vh-var(--header-h)-71.25px)];
  }

  /* A good explanation of what's going on: https://www.joshwcomeau.com/css/full-bleed/ */
  .mdx-span-normal {
    display: grid;
    column-gap: 2rem;
    /* 95px on each side because 900px (wide width) - 60px (column-gap) - 650px (normal width) = 190px space left to distribute among two columns */
    @apply toc:grid-cols-[2fr_95px_min(650px,100%-8rem)_95px_2fr] grid-cols-[1fr_min(650px,100%-4rem)_1fr];
  }

  .full-bleed {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: theme(maxWidth.wide);
    @apply toc:col-[2_/_5] toc:px-0 col-[1_/_-1] px-8;
  }
}
