---
import type { ComponentProps } from "astro/types";

import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import BaseLayout from "@/layouts/base-layout.astro";

type Props = ComponentProps<typeof BaseLayout>;
---

<BaseLayout {...Astro.props}>
  <div class="overflow-x-clip px-pad">
    <div
      class="max-w-normal mx-auto space-y-6 border-x-(length:--border-w) border-style py-6 sm:space-y-9 sm:py-9"
    >
      <Header links={[]} />
      <slot />
      <Footer />
    </div>
  </div>
</BaseLayout>
