---
import type { ComponentProps } from "astro/types";

import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import BaseLayout from "@/layouts/base-layout.astro";

type Props = ComponentProps<typeof BaseLayout> & {
  minHeight?: boolean;
  className?: string;
};

let { minHeight, className, ...props } = Astro.props;
---

<BaseLayout {...props}>
  <Header />

  <main
    class:list={[
      "mx-auto max-w-content space-y-12 px-7 py-12",
      { "min-h-[var(--visible-h)]": minHeight },
      className,
    ]}
  >
    <slot />
  </main>

  <Footer />
</BaseLayout>
