---
import LastFm from "@/components/lastfm.astro";
---

<footer class="max-w-wide wide:pb-10 mx-auto pb-4">
  <span
    class="mx-4 flex animate-fade justify-between gap-[1.25rem] border-t-2 border-sweater-9 pt-4 font-mono text-[14px] font-[100] [--order:0]"
  >
    <LastFm />
    <p class="w-1/2 animate-fade text-right italic text-sweater-6 [--order:0]">updated Mar 2024</p>
  </span>
</footer>
