---
import type { ComponentProps } from "astro/types";

import CommonLayout from "@/layouts/common-layout.astro";

type Props = ComponentProps<typeof CommonLayout> & {
  useMinHeight?: boolean;
  useVerticalSpacing?: boolean;
  class?: string;
};

let { useMinHeight, useVerticalSpacing, class: className, ...props } = Astro.props;
---

<CommonLayout {...props}>
  <main
    class:list={[
      "max-w-normal mx-auto px-8",
      { "space-y-12 py-8": useVerticalSpacing },
      // Takes into account header and footer height
      { "min-h-[calc(100dvh-74px-74px)]": useMinHeight },
      className,
    ]}
  >
    <slot />
  </main>
</CommonLayout>
