---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import { cn } from "@/utils/cn";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<Header />
<main class={cn("mx-auto max-w-content px-4 py-10", className)}>
  <slot />
</main>
<Footer />
