---
import type { ComponentProps } from "astro/types";

import type BaseLayout from "@/layouts/base-layout.astro";
import CommonLayout from "@/layouts/common-layout.astro";

type Props = ComponentProps<typeof BaseLayout> & {
  class?: string;
};

const { class: className, ...props } = Astro.props;
---

<CommonLayout {...props}>
  <main
    class:list={[
      "min-h-[calc(100vh-45px-120.688px-180.5px-45px)] space-y-6 sm:min-h-[calc(100vh-67.5px-81.188px-178.5px-67.5px)] sm:space-y-9",
      className,
    ]}
  >
    <slot />
  </main>
</CommonLayout>
