---
import type { ComponentProps } from "astro/types";

import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";

type Props = ComponentProps<typeof BaseLayout>;
---

<BaseLayout {...Astro.props}>
  <div class="overflow-x-clip px-pad">
    <div
      class="mx-auto max-w-normal border-x-(length:--border-w) border-line-bright py-6 sm:py-12"
    >
      <Header />
    </div>
    <slot />
    <div
      class="mx-auto max-w-normal border-x-(length:--border-w) border-line-bright py-6 sm:py-12"
    >
      <Footer />
    </div>
  </div>
</BaseLayout>
