---
import Header from "@/layouts/header.astro";
import Layout from "@/layouts/layout.astro";

const fun = [
  "soitgoes",
  "aczw",
  "newfaces",
  "doitagain",
  "tilinfinity",
  "suboptimal",
  "promiseme",
  "allitcosts",
];

const pick = fun[Math.floor(Math.random() * fun.length)];
const offset = Math.floor(Math.random() * pick.length);
const scrambled = pick.slice(offset) + pick.slice(0, offset);
---

<Layout
  title="404"
  description="Page not found"
>
  <Header />

  <main
    class="mx-auto flex min-h-[calc(100vh-81px)] max-w-narrow flex-col items-center justify-center space-y-8 py-5 wide:py-10"
  >
    <section class="text-center">
      <h2 class="font-mono text-5xl font-[130] text-sweater-2">404</h2>
      <p class="text-lg font-[130] text-sweater-2">Sorry, page not found.</p>
    </section>

    <p
      id="scroll"
      aria-hidden="true"
      data-scrambled={scrambled}
      class="rounded-md bg-sweater-9 px-1.5 py-0.5 font-mono font-[100] italic text-sweater-7 transition-colors"
    >
      {scrambled}
    </p>
  </main>
</Layout>

<script>
  // for some reason, whitespace is added to the front and end of the word, so we can't
  // use scroll.textContent directly at first. instead, store the scrambled word in the dataset
  const scroll = document.getElementById("scroll");

  // if the element doesn't exist, then the 404 component wasn't rendered and the post exists
  if (scroll) {
    let text = scroll.dataset.scrambled!;
    delete scroll.dataset.scrambled;

    setInterval(() => {
      scroll.textContent = text.slice(1) + text[0];
      text = scroll.textContent;
    }, 500);
  }
</script>
