---
import Header from "@/layouts/header.astro";
import BaseLayout from "@/layouts/base-layout.astro";

import notFound from "@/assets/not-found.png";
import { Image } from "astro:assets";
import Link from "@/components/link.astro";

const fun = [
  "soitgoes",
  "aczw",
  "newfaces",
  "doitagain",
  "tilinfinity",
  "suboptimal",
  "promiseme",
  "allitcosts",
];

const pick = fun[Math.floor(Math.random() * fun.length)];
const offset = Math.floor(Math.random() * pick.length);
const scrambled = pick.slice(offset) + pick.slice(0, offset);
---

<BaseLayout
  meta={{
    kind: "route",
    title: "404",
    description: "Sorry, this page doesn't exist.",
    ogImageParams: "Page not found.",
  }}
>
  <Header />

  <main
    class="max-w-narrow mx-auto flex min-h-[calc(100vh-81px)] flex-col items-center justify-center space-y-8 py-5 wide:py-10"
  >
    <section class="animate-fade text-center [--order:0]">
      <Image src={notFound} alt="404 not found" />

      <p class="text-lg font-[120] text-sweater-2">
        <Link href="https://twitter.com/sawaratsuki1004" target="_blank">Source.</Link> Sorry, page not
        found~
      </p>
    </section>

    <p
      id="scroll"
      aria-hidden="true"
      data-scrambled={scrambled}
      class="animate-fade rounded-md bg-sweater-9 px-1.5 py-0.5 font-mono font-[120] italic text-sweater-7 transition-colors [--order:1]"
    >
      {scrambled}
    </p>
  </main>
</BaseLayout>

<script>
  // for some reason, whitespace is added to the front and end of the word, so we can't
  // use scroll.textContent directly at first. instead, store the scrambled word in the dataset
  const scroll = document.getElementById("scroll");

  // if the element doesn't exist, then the 404 component wasn't rendered and the post exists
  if (scroll) {
    let text = scroll.dataset.scrambled!;
    delete scroll.dataset.scrambled;

    setInterval(() => {
      scroll.textContent = text.slice(1) + text[0];
      text = scroll.textContent;
    }, 500);
  }
</script>
