---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import "@/styles/base.css";
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";

interface Props {
  title?: string;
  description: string;
}

const { title, description } = Astro.props;

/**
 * @see https://github.com/withastro/astro/issues/5248
 */
const removeTrailingSlash = (str: string) => {
  return str.replace(/\/+$/, "");
};

const canonicalUrl = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <link
      rel="canonical"
      href={canonicalUrl}
    />
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />

    <link
      rel="icon"
      sizes="any"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/favicon.png"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />

    <link
      rel="preload"
      href="/fonts/MapleMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <title>{(title ? title + " • " : "") + "Charles Wang"}</title>
  </head>

  <body class="bg-sweater-10 text-sweater-1">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
