---
import type { CollectionEntry } from "astro:content";

import ContentLayout from "@/layouts/content-layout.astro";
import ProjectCover from "@/components/project-cover.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
let {
  data: { name, blurb, tags, cover },
  slug,
} = project;
---

<ContentLayout entry={{ kind: "project", project }}>
  <ProjectCover slug={slug} cover={cover} />

  <section class="space-y-4 py-6">
    <div>
      <h1 class="border-t-thin border-sweater-9 pt-10 text-xl">{name}</h1>
      <p>{blurb}</p>
    </div>

    <div class="border-b-thin border-sweater-9 pb-12">
      <h2>Tech stack</h2>
      <p>{tags.sort().join(", ")}</p>
    </div>
  </section>
</ContentLayout>
