---
import portfolioJson from "@/assets/portfolio/portfolio.json";
import PortfolioCard from "@/components/portfolio-card.astro";
import { Link } from "@/components/react/link";
import HtmlLayout from "@/layouts/html-layout.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<HtmlLayout
  title="Portfolio • Charles Wang"
  description="Visual stuff. Design and artwork made for myself and others."
>
  <MainLayout>
    <p class="mx-auto mb-8 w-full max-w-[650px]">
      I&apos;ve combined together both my traditional art and design work here.
      Visit my <Link
        href="https://www.behance.net/charleszw"
        newTab
      >
        <>Behance</>
      </Link> to see case studies, sketches, and more projects!
    </p>
    <ul class="w-full columns-xs gap-4">
      {
        portfolioJson.map((item, index) => (
          <PortfolioCard
            portfolio={item}
            index={index}
          />
        ))
      }
    </ul>
  </MainLayout>
</HtmlLayout>
