---
import portfolioJson from "@/assets/portfolio/portfolio.json";
import PortfolioCard from "@/components/portfolio-card.astro";
import { Link } from "@/components/react/link";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Portfolio • Charles Wang"
  description="Visual stuff. Design and artwork made for myself and others."
>
  <main
    class="flex min-h-[calc(100vh-105px)] flex-col items-center px-7 text-sweater-1"
  >
    <section class="flex w-full max-w-[1400px] flex-col items-center space-y-5">
      <p class="mb-5 w-full max-w-[850px]">
        This page contains a selection of work that I&apos;ve loved making over
        the years, mostly in chronological order. To see case studies and more
        examples, please visit my <Link
          href="https://www.behance.net/charleszw"
          newTab
        >
          Behance
        </Link> profile!
      </p>
      <div class="w-full columns-xs gap-5">
        {portfolioJson.map((item) => <PortfolioCard portfolio={item} />)}
      </div>
    </section>
  </main>
</Layout>
