---
import portfolioJson from "@/assets/portfolio/portfolio.json";
import PortfolioCard from "@/components/portfolio-card.astro";
import { Link } from "@/components/react/link";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Portfolio • Charles Wang"
  description="Visual stuff. Design and artwork made for myself and others."
>
  <main class="flex flex-col items-center p-4 pt-header text-sweater-1">
    <p class="mb-8 w-full max-w-[650px]">
      I&apos;ve combined together both my traditional art and design work here.
      Visit my <Link
        href="https://www.behance.net/charleszw"
        newTab
      >
        <>Behance</>
      </Link> to see case studies, sketches, and more projects!
    </p>
    <ul class="w-full max-w-[1100px] columns-xs gap-4">
      {
        portfolioJson.map((item, index) => (
          <PortfolioCard
            portfolio={item}
            index={index}
          />
        ))
      }
    </ul>
  </main>
</Layout>
