---
import portfolioJson from "@/assets/portfolio/portfolio.json";
import PortfolioCard from "@/components/portfolio-card.astro";
import { Link } from "@/components/react/link";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Portfolio • Charles Wang"
  description="Visual stuff. Design and artwork made for myself and others."
>
  <main class="flex flex-col items-center px-7 pt-header text-sweater-1">
    <p class="my-5 w-full max-w-[850px]">
      I&apos;ve combined together some of my best design work as well as
      traditional art here. To see case studies, sketches, and more projects,
      visit my
      <Link
        href="https://www.behance.net/charleszw"
        newTab
      >
        <>Behance.</>
      </Link>
    </p>
    <ul class="w-full max-w-[1400px] columns-sm items-center gap-5">
      {
        portfolioJson.map((item, index) => (
          <PortfolioCard
            portfolio={item}
            index={index}
          />
        ))
      }
    </ul>
  </main>
</Layout>
