---
import portfolioJson from "@/assets/portfolio/portfolio.json";
import PortfolioCard from "@/components/portfolio-card.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Portfolio • Charles Wang"
  description="Visual stuff. Design and artwork made for myself and others."
>
  <main
    class="flex min-h-[calc(100vh-105px)] flex-col items-center px-7 text-sweater-1"
  >
    <section class="flex max-w-[900px] w-full flex-col space-y-5">
      <div class="columns-2xs gap-5">
        {portfolioJson.map((item) => <PortfolioCard portfolio={item} />)}
      </div>
    </section>
  </main>
</Layout>
